Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Fix mobile UI
  packages/common/src/messages/trackPage.ts
  packages/mobile/src/components/lineup/TanQueryLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
  packages/web/src/pages/track-page/components/ViewOtherRemixesButton.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Final fix
  packages/common/src/api/tan-query/useTrackPageLineup.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5973, PE-5968] Migrate track page lineups to tan-query (#11857)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useTrackPageLineup.ts
  packages/common/src/messages/trackPage.ts
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/components/lineup/TanQueryLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemixes.tsx
  packages/web/src/common/store/pages/track/lineups/sagas.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/section-button/SectionButton.module.css
  packages/web/src/components/section-button/SectionButton.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/ViewOtherRemixesButton.tsx
  packages/web/src/pages/track-page/components/desktop/Remixes.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/Remixes.module.css
  packages/web/src/pages/track-page/components/mobile/Remixes.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Revert "[PE-5973, PE-5968] Migrate track page lineups to tan-query (#11857)"
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useTrackPageLineup.ts
  packages/common/src/messages/trackPage.ts
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/components/lineup/TanQueryLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemixes.tsx
  packages/web/src/common/store/pages/track/lineups/sagas.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/section-button/SectionButton.module.css
  packages/web/src/components/section-button/SectionButton.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/ViewOtherRemixesButton.tsx
  packages/web/src/pages/track-page/components/desktop/Remixes.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/Remixes.module.css
  packages/web/src/pages/track-page/components/mobile/Remixes.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Revert "[PE-5949] Migrate track page fetch to tan-query (#11828)"
  package-lock.json
  packages/common/src/api/tan-query/useTrackByParams.ts
  packages/common/src/store/pages/track/actions.ts
  packages/common/src/store/pages/track/selectors.ts
  packages/mobile/package.json
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/track/TrackLink.tsx
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackModalScreen.tsx
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notification/utils.ts
  packages/mobile/src/screens/search-screen/SearchItem.tsx
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadCompleteScreen.tsx
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
  packages/web/src/common/store/pages/track/sagas.ts
  packages/web/src/pages/track-page/DesktopServerTrackPage.tsx
  packages/web/src/pages/track-page/MobileServerTrackPage.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/ssr/track/+onRenderHtml.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update challenge config starting block for comment pin challenge (#11851)
  packages/discovery-provider/src/challenges/challenges.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.134
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update LICENSE date
  LICENSE
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update license to newer version, remove dupes
  LICENSE
  packages/embed/LICENSE
  packages/mobile/LICENSE
  packages/protocol-dashboard/LICENSE
  packages/web/LICENSE
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

add max to block diff check
  packages/discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove filename from mobile DownloadRow (#11863)
  packages/mobile/src/screens/track-screen/DownloadRow.tsx
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5868] Update collection page to tan-query
  packages/common/src/api/index.ts
  packages/common/src/models/Collection.ts
  packages/common/src/store/pages/collection/actions.ts
  packages/common/src/store/pages/collection/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/components/core/UserGeneratedText.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/collection-screen/useFetchCollectionLineup.ts
  packages/mobile/src/screens/collection-screen/useHasCollectionChanged.tsx
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notification/utils.ts
  packages/mobile/src/screens/search-screen/SearchItem.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadCompleteScreen.tsx
  packages/mobile/src/store/cache/collections/createPlaylistRequestedSaga.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/collection/lineups/sagas.js
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collection/types.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix icon color
  packages/web/src/assets/img/publicSite/iconRemix.svg
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

countdown + header text
  packages/web/src/components/track/RemixContestCountdown.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix auth middleware to have same logic as get account user
  packages/discovery-provider/src/utils/auth_middleware.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add error and reporting to weird edge case
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5990] Mobile-web remix countdown (#11867)
  packages/web/src/assets/img/publicSite/iconRemix.svg
  packages/web/src/components/track/RemixContestCountdown.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5984] Mobile web remix contest track page UI
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5984] Mobile web remix contest track page UI (#11869)
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add filter for handle in get_users
  packages/discovery-provider/src/queries/get_users.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix middleware to have same account fetching logic as the account endpoint (#11868)
  packages/discovery-provider/src/queries/get_users.py
  packages/discovery-provider/src/utils/auth_middleware.py
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update events tan-query state to be more normalized
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useDeleteEvent.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/useRemixContest.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5981] Mobile web download all UI fixes
  packages/web/src/pages/track-page/components/mobile/DownloadRow.tsx
  packages/web/src/pages/track-page/components/mobile/DownloadSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

harmonize
  packages/web/src/pages/track-page/components/mobile/DownloadSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5988] Disable upload more stems dropzone when max stems
  packages/web/src/components/edit/fields/StemFilesView.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

small update
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useDeleteEvent.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/useRemixContest.ts
  packages/common/src/api/tan-query/events/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5978] Update events tan-query state to be more normalized (#11870)
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useDeleteEvent.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/useRemixContest.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix remix page filter buttons
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Address QA issues
  packages/common/src/utils/route.ts
  packages/harmony/src/components/hover-card/HoverCardHeader.tsx
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/components/user-badges/TieredUserBadge.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/user-badges/index.ts
  packages/web/src/pages/audio-page/AudioPage.tsx
  packages/web/src/pages/pay-and-earn-page/components/CashWallet.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
  packages/web/src/pages/profile-page/components/EditableName.tsx
  packages/web/src/pages/transaction-history-page/desktop/TransactionHistoryPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Show correct value in hover card
  packages/harmony/src/components/hover-card/HoverCard.tsx
  packages/harmony/src/components/hover-card/HoverCardHeader.tsx
  packages/harmony/src/components/hover-card/types.ts
  packages/web/src/components/hover-card/AudioHoverCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix hover state in messages
  packages/web/src/pages/chat-page/components/ChatUser.tsx
  packages/web/src/pages/chat-page/components/ComposePreviewInfo.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5995, PE-5996] Fix mobile remix end date input
  packages/common/src/api/tan-query/events/useRemixContest.ts
  packages/mobile/src/components/core/DateTimeInput.tsx
  packages/mobile/src/components/expandable/ExpandableArrowIcon.tsx
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
  packages/mobile/src/components/summary-table/SummaryTable.tsx
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
  packages/mobile/src/screens/track-screen/RemixContestCountdown.tsx
  packages/web/src/components/track/DownloadSection.tsx
  packages/web/src/components/track/RemixContestCountdown.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5988] Disable upload more stems dropzone when max stems (#11872)
  packages/web/src/components/edit/fields/StemFilesView.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

remove icon
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5981] Mobile web download all UI fixes (#11871)
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
  packages/web/src/pages/track-page/components/mobile/DownloadRow.tsx
  packages/web/src/pages/track-page/components/mobile/DownloadSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Adjust pill padding
  packages/web/src/components/payout-wallet-display/PayoutWalletDisplay.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow
