Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*

skip certain areas on create or deactivate
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/antiAbuse.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/contextInjector.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/logging.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/utils.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

wip
  packages/discovery-provider/src/tasks/entity_manager/entities/playlist.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

PR comments
  packages/discovery-provider/src/utils/multi_provider.py
  packages/libs/src/services/ethWeb3Manager/EthWeb3Manager.ts
  packages/libs/src/utils/estimateGas.ts
  packages/libs/src/utils/multiProvider.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

adjust Page layout to avoid keyboard movement issues
  packages/mobile/src/screens/sign-on-screen/components/layout.tsx
  packages/mobile/src/screens/sign-on-screen/screens/CreatePasswordScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rework relay selection (#7539)
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthCheckTypes.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthChecks.ts
  packages/libs/src/services/discoveryProvider/DiscoveryProvider.ts
  packages/libs/src/services/web3Manager/Web3Manager.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix cover photo issue on android
  packages/mobile/src/harmony-native/components/CoverPhoto/CoverPhoto.tsx
  packages/mobile/src/harmony-native/components/input/TextInput/TextInput.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

⚠️ [ONC-19] Error on failed gas estimation (#7569)
  packages/discovery-provider/src/utils/multi_provider.py
  packages/libs/src/services/ethWeb3Manager/EthWeb3Manager.ts
  packages/libs/src/utils/estimateGas.ts
  packages/libs/src/utils/multiProvider.ts
  protocol-dashboard/src/components/ConfirmTransactionModal/ConfirmTransactionModal.tsx
  protocol-dashboard/src/components/TransactionStatus/TransactionStatus.tsx
  protocol-dashboard/src/store/actions/cancelTransaction.ts
  protocol-dashboard/src/store/actions/submitTransaction.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove stems modal
  packages/stems/src/components/Modal/Modal.module.css
  packages/stems/src/components/Modal/Modal.stories.tsx
  packages/stems/src/components/Modal/Modal.tsx
  packages/stems/src/components/Modal/ModalContent.module.css
  packages/stems/src/components/Modal/ModalContent.stories.tsx
  packages/stems/src/components/Modal/ModalContent.tsx
  packages/stems/src/components/Modal/ModalContentPages.module.css
  packages/stems/src/components/Modal/ModalContentPages.stories.tsx
  packages/stems/src/components/Modal/ModalContentPages.tsx
  packages/stems/src/components/Modal/ModalContentText.module.css
  packages/stems/src/components/Modal/ModalContentText.tsx
  packages/stems/src/components/Modal/ModalContext.tsx
  packages/stems/src/components/Modal/ModalFooter.module.css
  packages/stems/src/components/Modal/ModalFooter.stories.tsx
  packages/stems/src/components/Modal/ModalFooter.tsx
  packages/stems/src/components/Modal/ModalHeader.module.css
  packages/stems/src/components/Modal/ModalHeader.stories.tsx
  packages/stems/src/components/Modal/ModalHeader.tsx
  packages/stems/src/components/Modal/hooks.ts
  packages/stems/src/components/Modal/index.ts
  packages/stems/src/components/Modal/types.ts
  packages/stems/src/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Upgrade resource_class
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix ReactNative, transformOnBlur
  packages/common/src/hooks/useHarmonyField.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

make a mobile change
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix rbenv
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix armada project id
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix rbenv
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert "make a mobile change"
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3709] Fix label text misalignment
  packages/harmony/src/components/text/Text/constants.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3814] Fix demibold alignment
  packages/mobile/src/harmony-native/components/Text/Text.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Dedupe tracks in album and fix broken import
  packages/ddex/ingester/parser/parser.go
  packages/ddex/publisher/src/services/publisherService.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix tests
  dev-tools/compose/docker-compose.test.yml
  mediorum/server/serve_upload_test.go
  mediorum/server/testdata/beep.wav
  mediorum/server/testdata/hit.ogg
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix tests
  mediorum/Dockerfile.unittests
  mediorum/server/replicate.go
  mediorum/server/serve_crud.go
  mediorum/server/transcode.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PROTO-1664] Replicate transcode result in parallel (#7593)
  mediorum/Dockerfile.unittests
  mediorum/server/replicate.go
  mediorum/server/serve_crud.go
  mediorum/server/serve_upload_test.go
  mediorum/server/test_main_test.go
  mediorum/server/testdata/beep.wav
  mediorum/server/transcode.go
  mediorum/server/upload_client.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.38
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix coverphoto
  packages/mobile/src/harmony-native/components/CoverPhoto/CoverPhoto.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Dedupe tracks in album and fix broken import (#7599)
  packages/ddex/ingester/parser/parser.go
  packages/ddex/publisher/src/services/publisherService.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add subdued variant to segmented control
  packages/harmony/src/components/segmented-control/SegmentedControl.tsx
  packages/harmony/src/components/segmented-control/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rm log
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

wip
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/playlist.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix android crashes
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

relay log cleanup
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

relay log cleanup (#7601)
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix armada project id (#7597)
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add waitlist for premium downloads
  packages/web/src/components/data-entry/StemsAndDownloadsTriggerLegacy.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsField.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsMenuFields.tsx
  packages/web/src/pages/upload-page/fields/download-availability/DownloadAvailability.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Reduce waitlist link touch target
  packages/web/src/pages/upload-page/fields/download-availability/DownloadAvailability.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Trigger protocol dashboard release on main if .circleci folder changes
  .circleci/config.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Improve Connect MetaMask UX, esp. when both MetaMask and Phantom are installed [C-3750] (#7537)
  protocol-dashboard/src/components/AppBar/AppBar.module.css
  protocol-dashboard/src/components/AppBar/AppBar.tsx
  protocol-dashboard/src/components/ConnectMetaMaskModal/ConnectMetaMaskModal.module.css
  protocol-dashboard/src/components/ConnectMetaMaskModal/ConnectMetaMaskModal.tsx
  protocol-dashboard/src/services/Audius/AudiusClient.ts
  protocol-dashboard/src/services/Audius/helpers.ts
  protocol-dashboard/src/services/Audius/setup.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false
