Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert "[ONC-40] Reload the page if the git sha doesn't match the latest (#7771)"
  packages/common/src/hooks/useHarmonyField.ts
  packages/web/.gitignore
  packages/web/scripts/workers-site/index.js
  packages/web/scripts/writeSHA.sh
  packages/web/src/ssr/worker.js
  packages/web/src/store/reload/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix wallet check (#7829)
  packages/web/src/common/store/account/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert "⚠️ [PAY-2421] Upload stems in parallel (#7644)"
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/upload/actions.ts
  packages/common/src/store/upload/reducer.ts
  packages/common/src/store/upload/selectors.ts
  packages/common/src/store/upload/types.ts
  packages/libs/src/api/Track.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/pages/upload-page/pages/FinishPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Expand sentry use in sign up
  packages/common/src/models/Analytics.ts
  packages/common/src/models/ErrorReporting.ts
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowInstagramAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowTikTokAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowTwitterAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SocialMediaSignUpButtons.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/FollowArtistCard.tsx
  packages/mobile/src/utils/reportToSentry.ts
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/tiktok-auth/TikTokAuthButton.tsx
  packages/web/src/components/twitter-auth/TwitterAuth.tsx
  packages/web/src/store/errors/reportToSentry.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

.gitsha => gitsha.json (#7827)
  packages/web/.gitignore
  packages/web/scripts/workers-site/index.js
  packages/web/scripts/writeSHA.sh
  packages/web/src/ssr/worker.js
  packages/web/src/store/reload/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3743] Fix avatar styles on local (#7824)
  packages/web/src/components/dynamic-image/DynamicImage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2549] Make comms come up by default (#7817)
  dev-tools/audius-compose
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix release IDs on tracks on albums
  packages/ddex/ingester/common/sdk_types.go
  packages/ddex/ingester/e2e_test/e2e_test.go
  packages/ddex/ingester/parser/ern38x.go
  packages/ddex/ingester/parser/parser.go
  packages/ddex/publisher/src/models/pendingReleases.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove custom Sentry fingerprint
  packages/web/src/services/sentry.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix builds
  packages/ddex/ingester/common/sdk_types.go
  packages/ddex/ingester/e2e_test/e2e_test.go
  packages/ddex/publisher/src/models/pendingReleases.ts
  packages/discovery-provider/ddl/migrations/0060_add_ddex_release_ids.sql
  packages/libs/src/sdk/api/albums/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add more priority fees across all solana transactions
  packages/libs/src/services/solana/SolanaWeb3Manager.ts
  packages/libs/src/services/solana/rewards.ts
  packages/libs/src/services/solana/transfer.ts
  packages/libs/src/services/solana/userBank.ts
  packages/web/public/.gitsha
  packages/web/src/services/audius-backend/BuyAudio.ts
  packages/web/src/services/audius-backend/Jupiter.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add compute budget to listens
  packages/identity-service/src/solana-client.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix lint
  packages/identity-service/src/solana-client.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Double equals
  packages/libs/src/services/creatorNode/CreatorNode.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add more priority fees across all solana transactions (#7831)
  packages/identity-service/src/solana-client.js
  packages/libs/src/services/solana/SolanaWeb3Manager.ts
  packages/libs/src/services/solana/rewards.ts
  packages/libs/src/services/solana/transfer.ts
  packages/libs/src/services/solana/userBank.ts
  packages/web/public/.gitsha
  packages/web/src/services/audius-backend/BuyAudio.ts
  packages/web/src/services/audius-backend/Jupiter.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

missed a metadata
  packages/common/src/schemas/metadata.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Parse and store all DDEX standard identitiers (#7818)
  packages/common/src/models/Collection.ts
  packages/common/src/schemas/metadata.ts
  packages/ddex/ingester/common/sdk_types.go
  packages/ddex/ingester/e2e_test/e2e_test.go
  packages/ddex/ingester/parser/ern38x.go
  packages/ddex/ingester/parser/parser.go
  packages/ddex/publisher/src/models/pendingReleases.ts
  packages/ddex/publisher/src/services/publisherService.ts
  packages/discovery-provider/ddl/migrations/0060_add_ddex_release_ids.sql
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_utils.py
  packages/discovery-provider/plugins/notifications/src/types/dn.ts
  packages/discovery-provider/plugins/pedalboard/packages/storage/src/index.ts
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/models/playlists/playlist.py
  packages/discovery-provider/src/models/tracks/track.py
  packages/discovery-provider/src/schemas/track_schema.json
  packages/discovery-provider/src/tasks/entity_manager/entities/playlist.py
  packages/discovery-provider/src/tasks/metadata.py
  packages/es-indexer/src/types/db.ts
  packages/libs/src/sdk/api/albums/types.ts
  packages/libs/src/sdk/api/playlists/types.ts
  packages/libs/src/sdk/api/tracks/types.ts
  packages/libs/src/services/schemaValidator/schemas/trackSchema.json
  packages/libs/src/utils/types.ts
  packages/sql-ts/res/discovery-node.ts
  packages/web/src/pages/upload-page/validation.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

relay logging
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/antiAbuse.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/errorHandler.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/logging.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/utils.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/web3.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

better unknown handling in errors
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/error.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/errorHandler.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/utils.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add abi to validator
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

print stack trace in error handler
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/error.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/errorHandler.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/utils.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

PROTO-1720: relay logging (#7834)
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/error.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/antiAbuse.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/errorHandler.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/logging.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/utils.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/web3.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add aggregate_monthly_plays_country_backfill
  packages/discovery-provider/ddl/migrations/0061_aggregate_monthly_plays_country_backfill.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[INF-593] Add react + ts + @audius/sdk example app (#7807)
  docs/docs/developers/sdk/oauth.mdx
  packages/harmony/README.md
  packages/harmony/src/components/input/TextInput/index.ts
  packages/harmony/src/components/input/TextInput/types.ts
  packages/libs/src/sdk/examples/react/.eslintrc.cjs
  packages/libs/src/sdk/examples/react/.gitignore
  packages/libs/src/sdk/examples/react/README.md
  packages/libs/src/sdk/examples/react/index.html
  packages/libs/src/sdk/examples/react/package-lock.json
  packages/libs/src/sdk/examples/react/package.json
  packages/libs/src/sdk/examples/react/public/vite.svg
  packages/libs/src/sdk/examples/react/src/App.css
  packages/libs/src/sdk/examples/react/src/App.tsx
  packages/libs/src/sdk/examples/react/src/assets/react.svg
  packages/libs/src/sdk/examples/react/src/emotion.d.ts
  packages/libs/src/sdk/examples/react/src/main.tsx
  packages/libs/src/sdk/examples/react/src/vite-env.d.ts
  packages/libs/src/sdk/examples/react/tsconfig.json
  packages/libs/src/sdk/examples/react/tsconfig.node.json
  packages/libs/src/sdk/examples/react/vite.config.ts
  packages/libs/src/sdk/oauth/OAuth.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix lint
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/FollowArtistCard.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.59
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Rename hook
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useStems.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add jsdoc
  packages/common/src/hooks/useStems.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2409] Clean up old download code (#7820)
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/hooks/useStems.ts
  packages/common/src/store/social/tracks/actions.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/data-entry/FormTile.jsx
  packages/web/src/components/download-buttons/DownloadButtons.module.css
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/upload/TrackPreview.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/upload-page/fields/StemFilesView.module.css
  packages/web/src/pages/upload-page/fields/StemFilesView.tsx
  packages/web/src/pages/upload-page/fields/stream-availability/SpecialAccessFields.tsx
  packages/web/src/pages/upload-page/fields/stream-availability/collectible-gated/CollectibleGatedFields.tsx
  packages/web/src/pages/upload-page/fields/stream-availability/usdc-purchase-gated/UsdcPurchaseFields.tsx
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix embed build and use turbo
  packages/embed/package.json
  packages/embed/src/components/collectibles/CollectibleDetailsView.jsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump harmony and consume in examples/react
  packages/harmony/package.json
  packages/libs/src/sdk/examples/react/package-lock.json
  packages/libs/src/sdk/examples/react/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

refactor reportToSentry
  packages/common/src/models/Analytics.ts
  packages/common/src/models/ErrorReporting.ts
  packages/mobile/src/screens/sign-on-screen/components/SocialMediaSignUpButtons.tsx
  packages/mobile/src/utils/reportToSentry.ts
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/tiktok-auth/TikTokAuthButton.tsx
  packages/web/src/components/twitter-auth/TwitterAuth.tsx
  packages/web/src/pages/sign-up-page/pages/CreateEmailPage.tsx
  packages/web/src/store/errors/reportToSentry.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix embed build and use turbo (#7836)
  packages/embed/package.json
  packages/embed/src/components/collectibles/CollectibleDetailsView.jsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

design and functionality qa for protodash
  protocol-dashboard/src/assets/img/iconChart.svg
  protocol-dashboard/src/assets/img/iconGavel.svg
  protocol-dashboard/src/assets/img/iconHouse.svg
  protocol-dashboard/src/assets/img/iconNodes.svg
  protocol-dashboard/src/components/DelegatorsModal/DelegatorsModal.tsx
  protocol-dashboard/src/components/DeregisterServiceModal/DeregisterServiceModal.tsx
  protocol-dashboard/src/components/InfoTooltip/InfoTooltips.tsx
  protocol-dashboard/src/components/LineChart/LineChart.tsx
  protocol-dashboard/src/components/ManageService/ManageService.tsx
  protocol-dashboard/src/components/Page/Page.tsx
  protocol-dashboard/src/components/PlaysChart/PlaysChart.tsx
  protocol-dashboard/src/components/RegisterServiceModal/RegisterServiceModal.tsx
  protocol-dashboard/src/components/RewardsTimingCard/RewardsTimingCard.tsx
  protocol-dashboard/src/components/Tooltip/Tooltip.tsx
  protocol-dashboard/src/components/TotalApiCallsChart/TotalApiCallsChart.tsx
  protocol-dashboard/src/components/TotalStakedChart/TotalStakedChart.tsx
  protocol-dashboard/src/components/UniqueUsersChart/UniqueUsersChart.tsx
  protocol-dashboard/src/components/UpdateDelegationModal/UpdateDelegationModal.tsx
  protocol-dashboard/src/components/UpdateStakeModal/UpdateStakeModal.tsx
  protocol-dashboard/src/containers/Analytics/Analytics.tsx
  protocol-dashboard/src/containers/Governance/Governance.tsx
  protocol-dashboard/src/containers/Home/Home.tsx
  protocol-dashboard/src/containers/Services/Services.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

tweak report to sentry to give info
  packages/web/src/store/errors/reportToSentry.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix circular dep
  .circleci/src/workflows/release.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

append error name instead of replace
  packages/web/src/store/errors/reportToSentry.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
