Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fixes signon saga type
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix lint
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/public-site/components/Footer.tsx
  packages/web/src/public-site/components/NavOverlay.tsx
  packages/web/src/public-site/components/handleClickRoute.ts
  packages/web/src/public-site/pages/landing-page/components/CTAGetStarted.tsx
  packages/web/src/public-site/pages/landing-page/components/CTAStartListening.tsx
  packages/web/src/public-site/pages/landing-page/components/CaseStudies.tsx
  packages/web/src/public-site/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/public-site/pages/landing-page/components/Hero.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3762] Unblock stage deploy by uploading sourcemaps to s3 (#7461)
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/web/vite.config.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix import
  packages/web/src/components/search-bar/SearchBar.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3764] Use history in handleClickRoute (#7465)
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/public-site/components/Footer.tsx
  packages/web/src/public-site/components/NavOverlay.tsx
  packages/web/src/public-site/components/handleClickRoute.ts
  packages/web/src/public-site/pages/landing-page/components/CTAGetStarted.tsx
  packages/web/src/public-site/pages/landing-page/components/CTAStartListening.tsx
  packages/web/src/public-site/pages/landing-page/components/CaseStudies.tsx
  packages/web/src/public-site/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/public-site/pages/landing-page/components/Hero.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fixes signon saga type (#7466)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3764] Use history in handleClickRoute pt 2
  packages/web/src/public-site/pages/landing-page/components/CTAGetStarted.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3764] Use history in handleClickRoute pt 2 (#7467)
  packages/web/src/public-site/pages/landing-page/components/CTAGetStarted.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3763] Restrict harmony imports in mobile (#7464)
  packages/harmony/src/components/icon.ts
  packages/harmony/src/components/input/TextInput/TextInput.tsx
  packages/harmony/src/components/layout/Box/Box.tsx
  packages/harmony/src/components/layout/Box/index.ts
  packages/harmony/src/components/layout/Box/types.ts
  packages/harmony/src/components/layout/Flex/index.ts
  packages/harmony/src/components/layout/Flex/types.ts
  packages/harmony/src/components/layout/Paper/types.ts
  packages/harmony/src/components/text/Text/Text.tsx
  packages/harmony/src/components/text/Text/types.ts
  packages/mobile/.eslintrc.js
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/drawer/DrawerHeader.tsx
  packages/mobile/src/harmony-native/components/Avatar/Avatar.tsx
  packages/mobile/src/harmony-native/components/Button/BaseButton/types.ts
  packages/mobile/src/harmony-native/components/Button/Button/Button.tsx
  packages/mobile/src/harmony-native/components/Button/Button/types.ts
  packages/mobile/src/harmony-native/components/Button/IconButton/IconButton.tsx
  packages/mobile/src/harmony-native/components/CompletionCheck/CompletionCheck.stories.tsx
  packages/mobile/src/harmony-native/components/CompletionCheck/CompletionCheck.tsx
  packages/mobile/src/harmony-native/components/CoverPhoto/CoverPhoto.tsx
  packages/mobile/src/harmony-native/components/Hint/Hint.tsx
  packages/mobile/src/harmony-native/components/Text/Text.tsx
  packages/mobile/src/harmony-native/components/input/SelectablePill/SelectablePill.tsx
  packages/mobile/src/harmony-native/components/input/SelectablePill/types.ts
  packages/mobile/src/harmony-native/components/input/TextInput/TextInput.tsx
  packages/mobile/src/harmony-native/components/input/TextInput/types.ts
  packages/mobile/src/harmony-native/components/layout/Box/types.ts
  packages/mobile/src/harmony-native/components/layout/Flex/types.ts
  packages/mobile/src/harmony-native/components/layout/Paper/types.ts
  packages/mobile/src/harmony-native/foundations/color/color.ts
  packages/mobile/src/harmony-native/foundations/index.ts
  packages/mobile/src/harmony-native/foundations/theme/ThemeProvider.tsx
  packages/mobile/src/harmony-native/foundations/theme/theme.ts
  packages/mobile/src/harmony-native/icons.ts
  packages/mobile/src/harmony-native/utils/styleProps.ts
  packages/mobile/src/screens/sign-on-screen/components/AudiusValues.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/FollowArtistCard.tsx
  packages/mobile/tsconfig.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix tag height
  packages/harmony/src/components/input/SelectablePill/SelectablePill.tsx
  packages/harmony/src/components/tag/Tag.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedFilters.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add names
  packages/web/src/pages/trending-page/components/desktop/TrendingGenreFilters.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert "crops MultiselectRemove and MultiselectAdd"
  packages/harmony/src/assets/icons/MultiselectAdd.svg
  packages/harmony/src/assets/icons/MultiselectRemove.svg
  packages/mobile/src/harmony-native/components/CompletionCheck/CompletionCheck.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

remove unnecessary curly braces
  packages/web/src/components/change-password/ChangePasswordModal.tsx
  packages/web/src/pages/settings-page/components/mobile/ChangePasswordPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

what are these doing here??
  packages/web/src/components/change-email/ChangeEmailModal.tsx
  packages/web/src/pages/settings-page/components/mobile/ChangeEmailPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

missed another
  packages/web/src/pages/settings-page/components/mobile/ChangeEmailPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix red icons
  packages/harmony/src/assets/icons/PlaybackPause.svg
  packages/harmony/src/assets/icons/PlaybackPlay.svg
  packages/harmony/src/icons/UtilityIcons.stories.mdx
  packages/web/src/components/image-selection/ImageSelectionPopup.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistFolderNavItem.module.css
  packages/web/src/components/notification/Notification/components/icons.tsx
  packages/web/src/components/upload/PreviewButton.jsx
  packages/web/src/pages/dashboard-page/components/TracksTableContainer.tsx
  packages/web/src/pages/profile-page/components/EditableName.jsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.jsx
  packages/web/src/pages/search-page/components/mobile/SearchPageContent.tsx
  packages/web/src/pages/visualizer/VisualizerProvider.module.css
  packages/web/src/pages/visualizer/VisualizerProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Native] Fix OTP paste on mobile [C-3692] (#7367)
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Unhook built harmony from mobile
  packages/common/src/models/Collection.ts
  packages/web/src/common/store/smart-collection/smartCollections.ts
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/mobile/CollectionHeader.jsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/collection-page/smartCollectionIcons.ts
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Harmony] [Web] Fix red icons and playback icons [C-3765] (#7468)
  packages/harmony/src/assets/icons/PlaybackPause.svg
  packages/harmony/src/assets/icons/PlaybackPlay.svg
  packages/harmony/src/icons/UtilityIcons.stories.mdx
  packages/web/src/components/image-selection/ImageSelectionPopup.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistFolderNavItem.module.css
  packages/web/src/components/notification/Notification/components/icons.tsx
  packages/web/src/components/upload/PreviewButton.jsx
  packages/web/src/pages/dashboard-page/components/TracksTableContainer.tsx
  packages/web/src/pages/profile-page/components/EditableName.jsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.jsx
  packages/web/src/pages/search-page/components/mobile/SearchPageContent.tsx
  packages/web/src/pages/visualizer/VisualizerProvider.module.css
  packages/web/src/pages/visualizer/VisualizerProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2408][PAY-2443][PAY-2408] Bring web purchase up to lossless spec
  packages/common/src/hooks/purchaseContent/types.ts
  packages/common/src/utils/dogEarUtils.ts
  packages/mobile/src/components/premium-track-purchase-drawer/PurchaseSuccess.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
  packages/web/src/components/summary-table/SummaryTable.tsx
  packages/web/src/components/track/LockedTrackDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

crawler + clean up envs during local dev + update README
  dev-tools/compose/docker-compose.ddex.yml
  dev-tools/compose/docker-compose.yml
  packages/ddex/.env.dev
  packages/ddex/.env.stage
  packages/ddex/README.md
  packages/ddex/ingester/.air.toml
  packages/ddex/ingester/README.md
  packages/ddex/ingester/cmd/main.go
  packages/ddex/ingester/common/common.go
  packages/ddex/ingester/crawler/crawler.go
  packages/ddex/ingester/go.mod
  packages/ddex/ingester/go.sum
  packages/ddex/ingester/indexer/indexer.go
  packages/ddex/ingester/parser/parser.go
  packages/ddex/publisher/.env.stage
  packages/ddex/publisher/README.md
  packages/ddex/publisher/package.json
  packages/ddex/publisher/src/index.ts
  packages/ddex/webapp/README.md
  packages/ddex/webapp/client/src/components/Collection/Collection.tsx
  packages/ddex/webapp/server/.env.dev
  packages/ddex/webapp/server/package.json
  packages/ddex/webapp/server/src/app.ts
  packages/ddex/webapp/server/src/index.ts
  packages/ddex/webapp/server/src/services/dbService.ts
  packages/ddex/webapp/server/src/services/s3.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup
  dev-tools/compose/docker-compose.ddex.yml
  dev-tools/compose/docker-compose.yml
  packages/ddex/ingester/cmd/main.go
  packages/ddex/ingester/crawler/crawler.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup more
  packages/ddex/ingester/cmd/main.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update nft gated signature response in dn
  packages/discovery-provider/src/queries/get_nft_gated_track_signatures.py
  packages/discovery-provider/src/queries/get_track_signature.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Lint dn
  packages/discovery-provider/integration_tests/queries/test_get_usdc_transactions_history.py
  packages/discovery-provider/integration_tests/tasks/test_index_user_bank.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update gated content sagas
  packages/common/src/models/Track.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/common/src/store/gated-content/slice.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update nft access signature query params
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2429] Add hitslop to stem download row (#7458)
  packages/mobile/src/screens/track-screen/DownloadRow.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.31
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add solana wallet pubkey to uder identity calls
  packages/web/src/common/store/account/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

DN models
  packages/discovery-provider/ddl/migrations/0051_usdc_purchase_access.sql
  packages/discovery-provider/integration_tests/tasks/test_index_payment_router.py
  packages/discovery-provider/integration_tests/tasks/test_index_user_bank.py
  packages/discovery-provider/integration_tests/utils.py
  packages/discovery-provider/src/models/tracks/track_price_history.py
  packages/discovery-provider/src/models/users/usdc_purchase.py
  packages/discovery-provider/src/tasks/index_payment_router.py
  packages/discovery-provider/src/tasks/index_user_bank.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix red icons oauth
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.module.css
  packages/web/src/pages/oauth-login-page/components/PermissionsSection.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-7] Move to opensea api v2 (#7449)
  packages/common/src/hooks/useCoinflowAdapter.ts
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/models/OpenSea.ts
  packages/common/src/services/opensea-client/OpenSeaClient.ts
  packages/common/src/services/opensea-client/ethCollectibleHelpers.ts
  packages/mobile/src/env/env.dev.ts
  packages/mobile/src/env/env.prod.ts
  packages/mobile/src/env/env.stage.ts
  packages/web/src/common/store/pages/token-dashboard/getWalletInfo.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/track/DownloadRow.tsx
  packages/web/src/components/track/DownloadSection.tsx
  packages/web/src/pages/private-key-exporter-page/AdvancedWalletDetails.tsx
  packages/web/src/pages/private-key-exporter-page/PrivateKeyExporterModal.tsx
  packages/web/src/services/env/env.dev.ts
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2352][PAY-2396] Fix transactions table state after withdrawal (#7457)
  packages/common/src/api/user.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/hooks/usePaginatedQuery.ts
  packages/common/src/audius-query/types.ts
  packages/common/src/models/USDCTransactions.ts
  packages/common/src/store/ui/withdraw-usdc/selectors.ts
  packages/common/src/store/ui/withdraw-usdc/slice.ts
  packages/web/src/components/track/DownloadSection.tsx
  packages/web/src/components/usdc-transaction-details-modal/USDCTransactionDetailsModal.tsx
  packages/web/src/pages/pay-and-earn-page/components/WithdrawalsTab.tsx
  packages/web/src/pages/pay-and-earn-page/components/WithdrawalsTable.tsx
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[INF-654] Fix mobile SSR render (#7463)
  packages/web/src/components/search-bar/SearchBar.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Web] Fix OAuth red icons [C-3766] (#7472)
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.module.css
  packages/web/src/pages/oauth-login-page/components/PermissionsSection.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
