Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-47] Fix playlist/album upload stream gating check
  packages/web/src/common/store/upload/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-47] Fix playlist/album upload stream gating check (#7811)
  packages/web/src/common/store/upload/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-39] Check that signed in user matches wallet
  packages/web/src/common/store/account/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove unused imports
  packages/discovery-provider/integration_tests/queries/test_get_trending_playlists.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-46] Fix buy audio slippage
  packages/web/src/services/audius-backend/Jupiter.ts
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix harmony icon stories (#7800)
  packages/harmony/src/icons/SpecialIcons.stories.mdx
  packages/harmony/src/icons/UtilityIcons.stories.mdx
  packages/harmony/src/icons/specialIcons.ts
  packages/harmony/src/icons/utilityIcons.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2549] Make comms come up by default
  dev-tools/audius-compose
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3743] Fix avatar styles on local
  packages/web/src/components/dynamic-image/DynamicImage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3965] Fix explore tiles (#7814)
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
  packages/web/src/components/perspective-card/PerspectiveCard.module.css
  packages/web/src/pages/explore-page/components/mobile/ColorTile.module.css
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.module.css
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3960] Fix user-generated-text tag (#7815)
  packages/web/src/components/user-generated-text/UserGeneratedText.module.css
  packages/web/src/components/user-generated-text/UserGeneratedText.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add connect instagram ui (#7796)
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/FollowArtistCard.tsx
  packages/web/src/components/nav/desktop/ConnectInstagram.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/pages/sign-up-page/hooks/useSocialMediaLoader.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[ONC-46] Fix buy audio slippage (#7813)
  packages/web/src/services/audius-backend/Jupiter.ts
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

revert
  packages/mobile/src/screens/root-screen/useSyncCodePush.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Mobile] ⚠️ Install pending CodePush update upon foregrounding after 1hr [C-3791] (#7661)
  packages/mobile/src/screens/root-screen/useSyncCodePush.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Web] Fix Send Tip modal header icon and Download Page cloud icons [C-3952] (#7803)
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
  packages/web/src/public-site/pages/download-page/DownloadPage.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add to ern parser. todo e2e test, rename to ddex_release_ids, and add to playlist metadata in discovery
  packages/ddex/ingester/common/sdk_types.go
  packages/ddex/ingester/parser/ern38x.go
  packages/ddex/publisher/src/models/pendingReleases.ts
  packages/ddex/publisher/src/services/publisherService.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rename + add to playlists table. todo e2e test
  packages/common/src/models/Collection.ts
  packages/common/src/schemas/metadata.ts
  packages/discovery-provider/ddl/migrations/0060_add_additional_track_ids.sql
  packages/discovery-provider/ddl/migrations/0060_add_ddex_release_ids.sql
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_utils.py
  packages/discovery-provider/plugins/notifications/src/types/dn.ts
  packages/discovery-provider/plugins/pedalboard/packages/storage/src/index.ts
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/models/playlists/playlist.py
  packages/discovery-provider/src/models/tracks/track.py
  packages/discovery-provider/src/schemas/track_schema.json
  packages/discovery-provider/src/tasks/entity_manager/entities/playlist.py
  packages/discovery-provider/src/tasks/metadata.py
  packages/es-indexer/src/types/db.ts
  packages/libs/src/sdk/api/playlists/types.ts
  packages/libs/src/sdk/api/tracks/types.ts
  packages/libs/src/services/schemaValidator/schemas/trackSchema.json
  packages/libs/src/utils/types.ts
  packages/sql-ts/res/discovery-node.ts
  packages/web/src/pages/upload-page/validation.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

e2e test
  packages/ddex/ingester/e2e_test/e2e_test.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix confirmer to pass actual error like the types say it should, rather than a boolean
  packages/common/src/store/confirmer/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

better error handling and sentry reporting
  packages/web/src/common/store/upload/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix test
  packages/web/src/common/store/upload/sagas.test.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

remove error actions/saga
  packages/common/src/store/upload/actions.ts
  packages/web/src/common/store/upload/errorSagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix console.error on FinishPage for collections
  packages/web/src/pages/upload-page/pages/FinishPage.tsx
  packages/web/src/utils/route.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add random number to download temp dir to avoid combined lossless and mp3 files in same folder in android
  packages/mobile/src/services/track-download.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Improve README
  packages/libs/src/sdk/examples/react/README.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove downloadTrackV1 which was only used if lossless downloads are disabled
  packages/web/src/common/store/social/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove stemName from action
  packages/common/src/store/social/tracks/actions.ts
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.58
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix dom nesting error
  packages/libs/src/sdk/examples/react/src/App.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

formatting
  .circleci/src/workflows/discovery.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rm duplicate
  .circleci/src/workflows/discovery.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2518] Fix android bug for combined downloads file in same folder (#7819)
  packages/mobile/src/services/track-download.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2546] Fix stems and downloads text variant (#7810)
  packages/web/src/components/stem-files-modal/StemFilesModal.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsMenuFields.tsx
  packages/web/src/pages/upload-page/fields/SwitchRowField.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

use raw sql
  packages/discovery-provider/src/queries/get_user_listen_counts_monthly.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

push on this PR to test
  .circleci/src/workflows/discovery.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
