Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

[C-5736] Migrate explore featured content to tan-query
  packages/common/src/api/index.ts
  packages/common/src/store/pages/explore/selectors.ts
  packages/common/src/store/pages/explore/slice.ts
  packages/common/src/store/pages/explore/types.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/index.ts
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/FeaturedPlaylistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/FeaturedProfilesTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/explore/sagas.ts
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/ExplorePageProvider.tsx
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/public-site/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/store/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update track tile heart icon to 24px
  packages/web/src/components/alt-button/FavoriteButton.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Run docker container as user in CI and clean folder before tests (#11235)
  .circleci/src/jobs/@integration-jobs.yml
  dev-tools/compose/docker-compose.dev-tools.dev.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.identity.dev.yml
  dev-tools/compose/docker-compose.pedalboard.dev.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

PR feedback
  packages/common/src/api/tan-query/useSuggestedPlaylistTracks.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5643] Suggested tracks to tan-query (#11222)
  packages/common/src/api/index.ts
  packages/common/src/api/suggestedTracks.ts
  packages/common/src/api/tan-query/useSuggestedPlaylistTracks.ts
  packages/mobile/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix auth for purchase and sale count
  packages/discovery-provider/src/api/v1/users.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-1966] Update track tile heart icon to 24px (#11237)
  packages/web/src/components/alt-button/FavoriteButton.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Clean up env before running tests
  .circleci/src/jobs/test.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

changeset
  .changeset/fast-parrots-warn.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Clean up env before running tests (#11239)
  .circleci/src/jobs/test.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Make pushing DN images into one single job instead of 10
  .circleci/src/workflows/discovery.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

spaces, not commas
  .circleci/src/workflows/discovery.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Make pushing DN images into one single job instead of 10 (#11240)
  .circleci/src/workflows/discovery.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix wallet serialization for userMetadataToSdk (#11210)
  packages/common/src/adapters/user.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

remove wallets from user write adapter
  packages/common/src/adapters/user.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PAY-3866] Listen Streak Challenge Web UI
  packages/common/src/hooks/useAudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/harmony/src/assets/icons/Headphones.svg
  packages/web/src/pages/rewards-page/components/ChallengeRewards/RewardPanel.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/AudioMatchingRewardsModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ListenStreakChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ProgressDescription.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ProgressReward.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

mobile-web
  packages/web/src/pages/rewards-page/components/ChallengeRewards/RewardPanel.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ListenStreakChallengeModalContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

update harmony in lockfile
  packages/create-audius-app/examples/react/package-lock.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

remove package-lock files for examples
  packages/create-audius-app/examples/react-hono/.gitignore
  packages/create-audius-app/examples/react-hono/package-lock.json
  packages/create-audius-app/examples/react/.gitignore
  packages/create-audius-app/examples/react/package-lock.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

address randy comments
  packages/discovery-provider/src/api/v1/authorization_helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

More stuff
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/card-legacy/desktop/CollectionArtCard.module.css
  packages/web/src/components/card-legacy/desktop/CollectionArtCard.tsx
  packages/web/src/components/collection/CollectionImage.tsx
  packages/web/src/components/link/CollectionLink.tsx
  packages/web/src/components/stats/FavoriteStats.tsx
  packages/web/src/components/stats/RepostStats.tsx
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionArtCard.tsx
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/UserArtCard.module.css
  packages/web/src/pages/explore-page/components/desktop/UserArtCard.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Last
  packages/web/src/components/collection/CollectionImage.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionArtCard.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5736] Migrate explore featured content to tan-query (#11236)
  packages/common/src/api/index.ts
  packages/common/src/store/pages/explore/selectors.ts
  packages/common/src/store/pages/explore/slice.ts
  packages/common/src/store/pages/explore/types.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/index.ts
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/FeaturedPlaylistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/FeaturedProfilesTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/common/store/pages/explore/sagas.ts
  packages/web/src/components/card-legacy/desktop/CollectionArtCard.module.css
  packages/web/src/components/card-legacy/desktop/CollectionArtCard.tsx
  packages/web/src/components/collection/CollectionImage.tsx
  packages/web/src/components/link/CollectionLink.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/components/stats/FavoriteStats.tsx
  packages/web/src/components/stats/RepostStats.tsx
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/ExplorePageProvider.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionArtCard.tsx
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/UserArtCard.module.css
  packages/web/src/pages/explore-page/components/desktop/UserArtCard.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/public-site/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/store/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Improve history table performance
  packages/common/src/api/tan-query/useTrackHistory.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
  packages/web/src/components/skeleton/Skeleton.module.css
  packages/web/src/components/skeleton/Skeleton.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/tracks-table/TrackTableLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

mobile-web fixes, lint
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ListenStreakChallengeModalContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix lint
  packages/web/src/components/table/Table.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix auth for purchase and sale count (#11238)
  packages/discovery-provider/src/api/v1/authorization_helpers.py
  packages/discovery-provider/src/api/v1/users.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Improve history table performance (#11243)
  packages/common/src/api/tan-query/useTrackHistory.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
  packages/web/src/components/skeleton/Skeleton.module.css
  packages/web/src/components/skeleton/Skeleton.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/tracks-table/TrackTableLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[C-5719] Add default cache invalidation behavior
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCurrentAccount.ts
  packages/common/src/api/tan-query/useLibraryCollections.ts
  packages/common/src/api/tan-query/useLibraryTracks.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/mobile/src/services/query-client.ts
  packages/web/src/services/query-client.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix test-contracts and test-eth-contracts in ci
  contracts/Dockerfile
  eth-contracts/Dockerfile
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove quotes from test service CI jobs
  .circleci/src/jobs/test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix test-contracts and test-eth-contracts in ci (#11245)
  contracts/Dockerfile
  eth-contracts/Dockerfile
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Improve to handle heartbeat style
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/useAndroidAppLifecycleManager.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Allow testing multiple services at once in CI (#11246)
  .circleci/src/jobs/test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update intervals
  packages/mobile/src/hooks/useAndroidAppLifecycleManager.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove @pedalboard/backfill-audio-analyses
  dev-tools/compose/docker-compose.pedalboard.dev.yml
  dev-tools/compose/docker-compose.pedalboard.prod.yml
  dev-tools/compose/docker-compose.yml
  package-lock.json
  packages/compose/package.json
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/.eslintrc.js
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/package.json
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/backfill_content.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/backfill_discovery.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/logger.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/backfill-audio-analyses/tsconfig.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update paid revenue to match usage streams.
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/queries/mrvr.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Actually allow multiple services to be pushed at once
  .circleci/src/jobs/test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

I care about push, not test
  .circleci/src/jobs/push-docker-image.yml
  .circleci/src/jobs/test.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow
