Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Reorder
  packages/web/src/app/web-player/ServerWebPlayer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add search functionality in new explore page (#12050)
  packages/web/src/app/web-player/ServerWebPlayer.tsx
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/search-results/AlbumResults.tsx
  packages/web/src/pages/search-page/search-results/PlaylistResults.tsx
  packages/web/src/pages/search-page/search-results/ProfileResults.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

remove ping
  packages/commands/src/user/create-user.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

use sdk
  packages/identity-service/src/authMiddleware.js
  packages/identity-service/src/index.ts
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Finalize
  packages/common/src/api/tan-query/authorized-apps/useRemoveAuthorizedApp.ts
  packages/common/src/api/tan-query/developer-apps/useAddDeveloperApp.ts
  packages/common/src/api/tan-query/developer-apps/useDeleteDeveloperApp.ts
  packages/common/src/api/tan-query/developer-apps/useDeveloperApps.ts
  packages/common/src/api/tan-query/developer-apps/useEditDeveloperApp.ts
  packages/common/src/schemas/developerApps.ts
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/RemoveAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeleteAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-6064] Migrate authorized apps to tan-query (#12060)
  packages/common/src/api/authorizedApps.ts
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/tan-query/authorized-apps/useRemoveAuthorizedApp.ts
  packages/common/src/api/tan-query/developer-apps/useAddDeveloperApp.ts
  packages/common/src/api/tan-query/developer-apps/useDeleteDeveloperApp.ts
  packages/common/src/api/tan-query/developer-apps/useDeveloperApps.ts
  packages/common/src/api/tan-query/developer-apps/useEditDeveloperApp.ts
  packages/common/src/schemas/developerApps.ts
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/AuthorizedAppListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/AuthorizedAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/RemoveAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/YourAppsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/AuthorizedApps/types.ts
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeleteAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

try/catch recordIP
  packages/common/src/store/account/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-2085] Fix mobile top supporters user list (#12045)
  packages/common/src/store/tipping/index.ts
  packages/common/src/store/tipping/selectors.ts
  packages/common/src/store/tipping/slice.ts
  packages/common/src/store/tipping/types.ts
  packages/common/src/store/tipping/utils.ts
  packages/common/src/store/user-list/index.ts
  packages/common/src/store/user-list/selectors.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingTile.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingTileSkeleton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ViewAllSupportingTile.tsx
  packages/mobile/src/screens/user-list-screen/SupporterInfo.tsx
  packages/mobile/src/screens/user-list-screen/SupportingInfo.tsx
  packages/mobile/src/screens/user-list-screen/Tip.tsx
  packages/mobile/src/screens/user-list-screen/UserListItem.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-2092] Fix comment replies (#12046)
  packages/common/src/api/tan-query/comments/usePostComment.ts
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-2089] Fix tip success icon (#12049)
  packages/harmony/src/components/completion-check/CompletionCheck.tsx
  packages/harmony/src/components/completion-check/types.ts
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix GiantTrackTile skeletons (#12039)
  packages/web/src/components/track/GiantArtwork.module.css
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rename
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FanRemixContestEndingSoonNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/web/src/components/notification/Notification/FanRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix build error
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Wip
  packages/web/src/components/remix-contest-card/RemixContestCard.tsx
  packages/web/src/components/remix-contest-card/index.ts
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

remove unnecessary trap and kill
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Increase bundlesize max chunk size
  packages/web/bundlesize.prod.config.json
  packages/web/bundlesize.stage.config.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix developer app lint
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/EditAppPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix developer app lint (#12070)
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/EditAppPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-6113] Add linear gradient background to paper (#12058)
  packages/harmony/src/components/layout/Box/Box.tsx
  packages/harmony/src/foundations/color/semantic.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Increase bundlesize max chunk size (#12071)
  packages/web/bundlesize.prod.config.json
  packages/web/bundlesize.stage.config.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

console error
  packages/identity-service/src/authMiddleware.js
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[API-113] Fix local dev not setting blockchainUserId and handle in identity (#12056)
  .circleci/src/jobs/@integration-jobs.yml
  packages/commands/src/utils.ts
  packages/common/src/store/account/sagas.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
  packages/identity-service/src/authMiddleware.js
  packages/identity-service/src/index.ts
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
  packages/sdk/src/sdk/config/staging.ts
  packages/sdk/src/sdk/sdk.ts
  packages/web/e2e/auth.setup.ts
  packages/web/e2e/data.seed.ts
  packages/web/src/app/web-player/WebPlayer.jsx
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add 'fan' prefix to remix contest notifications (#12067)
  .changeset/ninety-icons-dance.md
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/notifications/useNotificationValidTypes.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/ddl/functions/handle_event.sql
  packages/discovery-provider/integration_tests/tasks/test_fan_remix_contest_ended_notification.py
  packages/discovery-provider/integration_tests/tasks/test_fan_remix_contest_ending_soon_notification.py
  packages/discovery-provider/integration_tests/tasks/test_fan_remix_contest_started_notification.py
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/remix_contest_notifications/fan_remix_contest_ended.py
  packages/discovery-provider/src/tasks/remix_contest_notifications/fan_remix_contest_ending_soon.py
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FanRemixContestEndedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FanRemixContestEndingSoonNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FanRemixContestStartedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndedNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndedNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndingSoonNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndingSoonNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestEndingSoonNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestStartedNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestStartedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/FanRemixContestStartedNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestEndedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestEndingSoonNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestEndingSoonNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/notification/Notification/FanRemixContestEndedNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestStartedNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6133] Artist remix contest ending soon notification
  .changeset/dirty-dots-think.md
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/notifications/useNotificationValidTypes.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/integration_tests/tasks/test_artist_remix_contest_ending_soon_notification.py
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/create_remix_contest_notifications.py
  packages/discovery-provider/src/tasks/remix_contest_notifications/artist_remix_contest_ending_soon.py
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ArtistRemixContestEndingSoonNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

mobile copy
  packages/mobile/src/screens/notifications-screen/Notifications/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.150
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Few dev tools updates
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/nav/desktop/useNavConfig.tsx
  packages/web/src/hooks/useEnvironment.ts
  packages/web/src/hooks/useIsDevOrStaging.ts
  packages/web/src/pages/dev-tools/DevTools.tsx
  packages/web/src/pages/dev-tools/messages.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update hook
  packages/web/src/hooks/useEnvironment.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Refactor
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/services/Jupiter.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

rework useSuggestedPlaylistTracks
  packages/common/src/api/tan-query/tracks/useSuggestedPlaylistTracks.ts
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

remove logs
  packages/common/src/api/tan-query/tracks/useSuggestedPlaylistTracks.ts
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

log
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-6133] Artist remix contest ending soon notification (#12069)
  .changeset/dirty-dots-think.md
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/notifications/useNotificationValidTypes.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/integration_tests/tasks/test_artist_remix_contest_ending_soon_notification.py
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/create_remix_contest_notifications.py
  packages/discovery-provider/src/tasks/remix_contest_notifications/artist_remix_contest_ending_soon.py
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ArtistRemixContestEndingSoonNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/ArtistRemixContestEndingSoonNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Fix challenge count num in AAO UI (#12036)
  packages/discovery-provider/ddl/functions/get_user_score.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Ensure python 3.11 is installed (#12066)
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update form
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/hooks/index.ts
  packages/web/src/components/buy-sell-modal/hooks/useTokenAmountFormatting.ts
  packages/web/src/components/buy-sell-modal/hooks/useTokenSwapForm.ts
  packages/web/src/components/buy-sell-modal/schemas/swapFormSchema.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix the suggested track ids to only occur when the list is empty
  packages/common/src/api/tan-query/tracks/useSuggestedPlaylistTracks.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix lint
  packages/common/src/api/tan-query/tracks/useSuggestedPlaylistTracks.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add Jupiter logo
  packages/harmony/src/assets/icons/JupiterLogo.svg
  packages/harmony/src/icons/utilityIcons.ts
  packages/mobile/src/harmony-native/icons.tsx
  packages/web/src/components/buy-sell-modal/BuySellModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Address comments
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
  packages/common/src/services/Jupiter.ts
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
