Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Small updates
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

migration
  packages/discovery-provider/ddl/migrations/0129_update_challenge_listen_streak.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5900] Add audio wallet banner (#11738)
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

bigint
  packages/discovery-provider/ddl/functions/user_scores.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2031] Fix embed playback, scrubber, play-button
  packages/embed/src/components/playbutton/PlayButton.module.css
  packages/embed/src/components/scrubber/BedtimeScrubber.jsx
  packages/embed/src/components/track/TrackPlayerCard.jsx
  packages/embed/src/components/track/TrackPlayerContainer.jsx
  packages/embed/src/hooks/usePlayback.js
  packages/embed/src/util/BedtimeClient.js
  packages/harmony/src/components/scrubber/Scrubber.tsx
  packages/harmony/src/components/scrubber/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix collections
  packages/embed/src/components/collection/CollectionPlayerCard.jsx
  packages/embed/src/components/collection/CollectionPlayerContainer.jsx
  packages/embed/src/components/playbutton/PlayButton.jsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

checkpoint
  packages/mobile/src/components/core/DrawerHeader.tsx
  packages/mobile/src/components/core/HarmonyModalHeader.tsx
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
  packages/mobile/src/components/drawers/OfflineListeningDrawer.tsx
  packages/mobile/src/components/manager-mode-drawer/ManagerModeDrawer.tsx
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix search due to my bad pythoning creating invalid ES queries
  packages/discovery-provider/src/queries/search_es.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[API-13] Only update scores when they need to be (#11737)
  packages/discovery-provider/src/tasks/update_aggregates.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add index and use indexes better in block confirmation
  packages/discovery-provider/ddl/migrations/0129_core_blockhash_index.sql
  packages/discovery-provider/src/queries/get_block_confirmation.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix other track player variants
  packages/embed/src/components/track/TrackPlayerCompact.jsx
  packages/embed/src/components/track/TrackPlayerTiny.jsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix search due to my bad pythoning creating invalid ES queries (#11740)
  packages/discovery-provider/src/queries/search_es.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2031] Fix embed play-button, scrubber, and stream (#11741)
  packages/embed/src/components/collection/CollectionPlayerCard.jsx
  packages/embed/src/components/collection/CollectionPlayerContainer.jsx
  packages/embed/src/components/playbutton/PlayButton.jsx
  packages/embed/src/components/playbutton/PlayButton.module.css
  packages/embed/src/components/scrubber/BedtimeScrubber.jsx
  packages/embed/src/components/track/TrackPlayerCard.jsx
  packages/embed/src/components/track/TrackPlayerCompact.jsx
  packages/embed/src/components/track/TrackPlayerContainer.jsx
  packages/embed/src/components/track/TrackPlayerTiny.jsx
  packages/embed/src/hooks/usePlayback.js
  packages/embed/src/util/BedtimeClient.js
  packages/harmony/src/components/scrubber/Scrubber.tsx
  packages/harmony/src/components/scrubber/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix broken listen streak challenge state (#11739)
  packages/discovery-provider/ddl/migrations/0129_update_challenge_listen_streak.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Show comment-badges in preview
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

sdk
  .changeset/quick-stingrays-march.md
  packages/sdk/src/sdk/api/generated/default/apis/EventsApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

[QA-2034] Fix notification loading state (#11734)
  packages/common/src/api/tan-query/useNotifications.ts
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/web/src/components/notification/NotificationPage.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix styling for DrawerHeader
  packages/mobile/src/components/core/DrawerHeader.tsx
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

move mobile feed over
  packages/web/src/pages/feed-page/FeedPage.tsx
  packages/web/src/pages/feed-page/components/mobile/FeedPageContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix mobile tile layout bug
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update packages/common/src/api/tan-query/useUpdateTrack.ts
  packages/common/src/api/tan-query/useUpdateTrack.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

undo desktop
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

use async fn to avoid closing modal early
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wire up cancelling download on close of drawer
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix mobile tile layout bug (#11745)
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wip scroll handler
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/pages/feed-page/FeedPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix test
  packages/discovery-provider/src/queries/get_block_confirmation.py
  packages/discovery-provider/src/queries/get_block_confirmation_unit_test.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5891] Get event by entity ID endpoint (#11725)
  .changeset/quick-stingrays-march.md
  packages/discovery-provider/src/api/v1/events.py
  packages/discovery-provider/src/queries/get_events.py
  packages/sdk/src/sdk/api/generated/default/apis/EventsApi.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Fix user card bug (#11736)
  packages/web/src/pages/search-page/search-results/ProfileResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add host contest modal and add ability to start remix contests
  packages/common/src/store/ui/modals/host-remix-contest-modal/index.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/harmony/src/components/select/Select/Select.tsx
  packages/web/src/components/edit/fields/DatePickerField.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix styles
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix test again
  packages/discovery-provider/src/queries/get_block_confirmation_unit_test.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

readme updates
  packages/common/src/api/tan-query/README.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

return IDs
  packages/discovery-provider/src/tasks/update_aggregates.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add transaction history page
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/transaction-history-page/TransactionHistoryPage.tsx
  packages/web/src/pages/transaction-history-page/desktop/TransactionHistoryPage.tsx
  packages/web/src/pages/transaction-history-page/mobile/TransactionHistoryPage.tsx
  packages/web/src/pages/transaction-history-page/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow
