Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

move entity query keys up a level, start replacing selectors
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/saga-utils/queryCollection.ts
  packages/common/src/api/tan-query/saga-utils/queryTrack.ts
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useDeleteTrack.ts
  packages/common/src/api/tan-query/useFavoriteTrack.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUnfavoriteTrack.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/tracks/selectors.ts
  packages/common/src/store/cache/users/selectors.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix lint
  packages/common/src/api/tan-query/lineups/useAiTracks.ts
  packages/common/src/api/tan-query/lineups/useFeed.ts
  packages/common/src/api/tan-query/lineups/useLibraryTracks.ts
  packages/common/src/api/tan-query/lineups/usePremiumTracks.ts
  packages/common/src/api/tan-query/lineups/useProfileReposts.ts
  packages/common/src/api/tan-query/lineups/useProfileTracks.ts
  packages/common/src/api/tan-query/lineups/useTrending.ts
  packages/common/src/api/tan-query/lineups/useTrendingPlaylists.ts
  packages/common/src/api/tan-query/lineups/useTrendingUnderground.ts
  packages/common/src/api/tan-query/remixes/useRemixes.ts
  packages/common/src/api/tan-query/search/useSearchResults.ts
  packages/common/src/api/tan-query/tracks/useTrackHistory.ts
  packages/common/src/api/tan-query/tracks/useTrackPageLineup.ts
  packages/common/src/api/tan-query/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5936] Add mobile for pinned comment (#11794)
  packages/mobile/src/components/challenge-rewards-drawer/PinnedCommentChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/challengeContentRegistry.ts
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

type query keys
  packages/common/src/api/tan-query/useAudioBalance.ts
  packages/common/src/api/tan-query/useConnectedWallets.ts
  packages/common/src/api/tan-query/useWalletCollectibles.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update step count
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/mobile/src/components/challenge-rewards-drawer/PinnedCommentChallengeContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/PinnedCommentChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

reworking how cache selectors work
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/src/store/cache/users/selectors.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix test
  packages/discovery-provider/integration_tests/challenges/test_pinned_comment_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5937] Make play count challenge repeatable (#11804)
  packages/discovery-provider/integration_tests/challenges/test_pinned_comment_challenge.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/mobile/src/components/challenge-rewards-drawer/PinnedCommentChallengeContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/PinnedCommentChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert tan-query selector in audioplayer
  packages/mobile/src/components/audio/AudioPlayer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

unuseed import
  packages/mobile/src/components/audio/AudioPlayer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

(hotfix) Revert tan-query selector in audioplayer (#11805)
  packages/mobile/src/components/audio/AudioPlayer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update event tan query hooks
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/menu/TrackMenu.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

small update
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add optimistic update reversion on error
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-2046] Fix more by lineup on mobile showing dups
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2046] Fix more by lineup on mobile showing dups (#11806)
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix milestone bug
  packages/discovery-provider/ddl/functions/handle_play.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5927] Update event mutation hooks (#11803)
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add sort and filtering to remixes API
  packages/discovery-provider/integration_tests/queries/test_get_tracks.py
  packages/discovery-provider/src/queries/get_remixes_of.py
  packages/discovery-provider/src/queries/query_helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix AAO error on missing timestamp
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix timezone issues for events
  packages/common/src/adapters/event.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Try to fix publish packages command (#11762)
  .github/workflows/publish-packages.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix milestone bug (#11807)
  packages/discovery-provider/ddl/functions/handle_play.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wip selectors
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

cr comments
  packages/common/src/api/tan-query/useAudioBalance.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5929] Upgrade collapsible tab view
  package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/core/FlatList.tsx
  packages/mobile/src/components/core/SectionList.tsx
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/components/top-tab-bar/TopTabBar.tsx
  packages/mobile/src/components/top-tab-bar/createCollapsibleTabNavigator.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2054] Fix overflowing remix text
  packages/web/src/components/data-entry/ContextualMenu.module.css
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsField.module.css
  packages/web/src/components/edit/fields/RemixSettingsField/TrackInfo.tsx
  packages/web/src/components/track/TrackArtwork.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5938] Fix timezone issues for events (#11810)
  packages/common/src/adapters/event.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Audius Protocol v0.7.130
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2054] Fix overflowing remix text (#11812)
  packages/web/src/components/data-entry/ContextualMenu.module.css
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsField.module.css
  packages/web/src/components/edit/fields/RemixSettingsField/TrackInfo.tsx
  packages/web/src/components/track/TrackArtwork.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Debounce mobile search input
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix reward banner padding
  packages/mobile/src/components/audio-rewards/RewardsBanner.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5873] Gate premium stems on USDC_PURCHASES
  packages/common/src/hooks/useGatedContent.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5873] Gate premium stems on USDC_PURCHASES (#11815)
  packages/common/src/hooks/useGatedContent.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix lint
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Debounce mobile search input (#11813)
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow
