Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Fix sign up/in with metamask
  packages/common/src/services/auth/identity.ts
  packages/web/src/app/AppProviders.tsx
  packages/web/src/app/ReownAppKitModal.tsx
  packages/web/src/pages/sign-in-page/SignInWithMetaMaskButton.tsx
  packages/web/src/pages/sign-up-page/components/ExternalWalletSignUpModal.tsx
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/audius-sdk/auth.ts
  packages/web/src/services/audius-sdk/wagmi.ts
  packages/web/src/store/sign-out/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix delegate manager client
  packages/common/src/api/tan-query/types.ts
  packages/common/src/api/tan-query/useAudioBalance.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/eth/src/delegate-manager/constants.ts
  packages/eth/src/delegate-manager/delegateManager.ts
  packages/eth/src/delegate-manager/index.ts
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/DelegateManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Audius Protocol v0.7.123
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update 🙌 emoji (#11709)
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/__snapshots__/tastemaker.test.ts.snap
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/tastemaker.test.ts
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/Body.tsx
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/tastemaker.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Final fixes
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile.lock
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add basic setup for tan-query hooks for events
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/batchers/getEventsBatcher.ts
  packages/common/src/api/tan-query/events/index.ts
  packages/common/src/api/tan-query/events/useAllEvents.ts
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useDeleteEvent.ts
  packages/common/src/api/tan-query/events/useEvent.ts
  packages/common/src/api/tan-query/events/useEvents.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/models/ErrorReporting.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add cosign cooldown reward email (#11705)
  packages/discovery-provider/plugins/notifications/src/email/notifications/preRendered/rewardInCooldown.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/rewardInCooldown.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wip
  packages/common/src/api/tan-query/types.ts
  packages/common/src/api/tan-query/useProfileReposts.ts
  packages/common/src/api/tan-query/utils/useLineupQuery.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

revert protocol-dashboard
  packages/protocol-dashboard/src/hooks/useConnectAudiusProfile.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

small changes
  packages/common/src/api/tan-query/events/useAllEvents.ts
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useEvent.ts
  packages/common/src/api/tan-query/events/useEvents.ts
  packages/common/src/api/tan-query/events/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix staking contract for staging
  packages/common/src/api/tan-query/useAudioBalance.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/eth/src/staking/constants.ts
  packages/eth/src/staking/index.ts
  packages/eth/src/staking/staking.ts
  packages/sdk/src/sdk/config/development.ts
  packages/sdk/src/sdk/config/production.ts
  packages/sdk/src/sdk/config/staging.ts
  packages/sdk/src/sdk/config/types.ts
  packages/sdk/src/sdk/scripts/generateServicesConfig.ts
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/StakingClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

lint fixes
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/store/cache/syncWithReactQuery.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-5840] Add basic setup for tan-query hooks for events (#11710)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/batchers/getEventsBatcher.ts
  packages/common/src/api/tan-query/events/index.ts
  packages/common/src/api/tan-query/events/useAllEvents.ts
  packages/common/src/api/tan-query/events/useCreateEvent.ts
  packages/common/src/api/tan-query/events/useDeleteEvent.ts
  packages/common/src/api/tan-query/events/useEvent.ts
  packages/common/src/api/tan-query/events/useEvents.ts
  packages/common/src/api/tan-query/events/useUpdateEvent.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/models/ErrorReporting.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

dayjs
  packages/web/src/pages/upload-page/forms/UploadTrackForm.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix notification error boundary due to missing entity
  packages/web/src/components/notification/Notification/components/EntityLink.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

mobile
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadModalScreen.tsx
  packages/mobile/src/screens/upload-screen/types/ParamList.ts
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

migrate all lineup queries to normalized data setup
  packages/common/src/api/tan-query/types.ts
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useLibraryTracks.ts
  packages/common/src/api/tan-query/usePremiumTracks.ts
  packages/common/src/api/tan-query/useProfileReposts.ts
  packages/common/src/api/tan-query/useProfileTracks.ts
  packages/common/src/api/tan-query/useRemixes.ts
  packages/common/src/api/tan-query/useSearchResults.ts
  packages/common/src/api/tan-query/useTrackHistory.ts
  packages/common/src/api/tan-query/useTrending.ts
  packages/common/src/api/tan-query/useTrendingPlaylists.ts
  packages/common/src/api/tan-query/useTrendingUnderground.ts
  packages/common/src/api/tan-query/utils/useLineupQuery.ts
  packages/common/src/models/ErrorReporting.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fixing types
  packages/common/src/api/tan-query/useSearchResults.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix notification error boundary due to missing entity (#11711)
  packages/web/src/components/notification/Notification/components/EntityLink.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix user reposts not working (#11703)
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5882] Web submit to remix contest flow (#11706)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadModalScreen.tsx
  packages/mobile/src/screens/upload-screen/types/ParamList.ts
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/hooks/useNavigateToPage.ts
  packages/web/src/pages/upload-page/UploadPage.tsx
  packages/web/src/pages/upload-page/forms/UploadTrackForm.tsx
  packages/web/src/pages/upload-page/pages/EditPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

QA fixes for cosign reward
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/useNotifications.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/rewardInCooldown.ts
  packages/mobile/src/components/challenge-rewards-drawer/CosignChallengeContent.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCosignNotification.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ClaimButton.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/CosignChallengeModalContent.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

cleanup
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCosignNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

cleanup
  packages/common/src/api/tan-query/useNotifications.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix mobile lingering issues
  packages/web/src/components/tracks-table/TrackTableLineup.tsx
  packages/web/src/pages/history-page/components/mobile/HistoryPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2030] Fix email and mentions in dms
  packages/common/src/utils/handle.ts
  packages/web/src/components/composer-input/ComposerInput.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Link emails
  packages/common/src/utils/email.ts
  packages/web/src/components/user-generated-text/UserGeneratedTextV2.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Uhhh didn't mean to remove this
  packages/common/src/services/auth/identity.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

wait for hedgehog before trying external wallet
  packages/web/src/services/audius-sdk/auth.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

key options typing proof of concept
  packages/common/src/api/tan-query/useTrack.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

remove type args
  packages/common/src/api/tan-query/saga-utils/queryTrack.ts
  packages/common/src/api/tan-query/useDeleteTrack.ts
  packages/common/src/api/tan-query/useFavoriteTrack.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix valtio mismatch causing proxy object bugs
  package-lock.json
  package.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[API-13] Fix celery getting stuck
  packages/discovery-provider/scripts/start.sh
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

improve search typing
  packages/common/src/api/tan-query/useAudioTransactions.ts
  packages/common/src/api/tan-query/usePurchasersCount.ts
  packages/common/src/api/tan-query/useRemixersCount.ts
  packages/common/src/api/tan-query/useSearchResults.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow
