Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

add audius-cmd as dep of @audius/compose
  packages/compose/package.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

ai says this should be 0
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/config/config.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix package things
  package-lock.json
  packages/compose/package.json
  packages/discovery-provider/plugins/pedalboard/apps/relay/package.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Cache node modules for relay and solana relay
  .circleci/config.yml
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Client (Web and Mobile) v1.5.120
  package-lock.json
  package.json
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/package.json
  packages/web/package.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

bust cache
  package-lock.json
  packages/discovery-provider/plugins/pedalboard/apps/relay/package.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3857] Replace cognito verification with plaid
  package-lock.json
  packages/common/src/services/auth/identity.ts
  packages/identity-service/package.json
  packages/identity-service/src/cognitoFlowMiddleware.js
  packages/identity-service/src/config.js
  packages/identity-service/src/models/cognitoFlowIdentities.js
  packages/identity-service/src/models/cognitoFlows.js
  packages/identity-service/src/routes/cognito.js
  packages/identity-service/src/routes/plaid.js
  packages/identity-service/src/utils/cognitoHelpers.js
  packages/identity-service/src/utils/cognitoHelpersTest.js
  packages/identity-service/src/utils/rewardsReporter.js
  packages/web/package.json
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/check-page/CheckPage.tsx
  packages/web/src/services/audius-backend/Cognito.ts
  packages/web/src/utils/constants.ts
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add back removal of the repo
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

WIP tune discovery workers
  packages/discovery-provider/scripts/prod-server.sh
  packages/discovery-provider/scripts/start.sh
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3857] Replace cognito verification with plaid (#11223)
  package-lock.json
  packages/common/src/services/auth/identity.ts
  packages/identity-service/package.json
  packages/identity-service/src/cognitoFlowMiddleware.js
  packages/identity-service/src/config.js
  packages/identity-service/src/models/cognitoFlowIdentities.js
  packages/identity-service/src/models/cognitoFlows.js
  packages/identity-service/src/routes/cognito.js
  packages/identity-service/src/routes/plaid.js
  packages/identity-service/src/utils/cognitoHelpers.js
  packages/identity-service/src/utils/cognitoHelpersTest.js
  packages/identity-service/src/utils/rewardsReporter.js
  packages/web/package.json
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/check-page/CheckPage.tsx
  packages/web/src/services/audius-backend/Cognito.ts
  packages/web/src/utils/constants.ts
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Exclude svg from harmony image plugin
  packages/harmony/rollup.config.mjs
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Changeset
  .changeset/ninety-geckos-refuse.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Ignore svg in harmony image rollup config (#11225)
  .changeset/ninety-geckos-refuse.md
  packages/harmony/rollup.config.mjs
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5728] Improve android performance
  packages/mobile/android/app/src/main/java/co/audius/app/MainActivity.kt
  packages/mobile/index.js
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/useAppLifecycle.ts
  packages/mobile/src/hooks/useAppState.ts
  packages/mobile/src/services/app-killed/index.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Finalize
  packages/mobile/index.js
  packages/mobile/src/hooks/useAppLifecycle.ts
  packages/mobile/src/services/app-killed/index.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[qa-1915] Fix upload image error copy
  packages/web/src/components/image-selection/ImageSelectionButton.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/components/upload/InvalidFileType.jsx
  packages/web/src/components/upload/InvalidFileType.module.css
  packages/web/src/components/upload/InvalidFileType.tsx
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.82
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Pin concurrent ruby
  packages/mobile/ios/Gemfile
  packages/mobile/ios/Gemfile.lock
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm remaining audiusd code
  .circleci/config.yml
  dev-tools/audius-compose
  dev-tools/compose/docker-compose.yml
  eth-contracts/scripts/setup-dev.js
  pkg/core/gen/core_proto/protocol.pb.go
  pkg/core/gen/core_proto/protocol.swagger.json
  pkg/core/gen/models/protocol_block_response.go
  pkg/core/protocol/protocol.proto
  pkg/core/server/cache.go
  pkg/core/server/grpc.go
  pkg/core/server/server.go
  pkg/mediorum/.version.json
  pkg/mediorum/server/play_event_queue.go
  pkg/mediorum/server/repair.go
  pkg/mediorum/server/serve_blob.go
  scripts/get-release-dirs.sh
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

use docker compose config straight up
  cmd/core/infra/Dockerfile.tests
  cmd/core/infra/dev_config/content-one.docker.env
  cmd/core/infra/dev_config/content-three.docker.env
  cmd/core/infra/dev_config/content-two.docker.env
  cmd/core/infra/dev_config/discovery-one.docker.env
  dev-tools/compose/docker-compose.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Use bundler for cocoapods installs and update version
  packages/mobile/ios/Gemfile
  packages/mobile/ios/Gemfile.lock
  scripts/postinstall.sh
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fixes
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[qa-1915] Fix upload image error copy (#11228)
  packages/web/src/components/image-selection/ImageSelectionButton.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.jsx
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/components/upload/InvalidFileType.jsx
  packages/web/src/components/upload/InvalidFileType.module.css
  packages/web/src/components/upload/InvalidFileType.tsx
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Use bundler for cocoapods installs and update version (#11231)
  packages/mobile/ios/Gemfile
  packages/mobile/ios/Gemfile.lock
  scripts/postinstall.sh
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

listen streak notif for web
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/email/notifications/types.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/challengeReward.ts
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
  packages/web/src/pages/rewards-page/config.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Clear the directory at the start
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3398] Use new playlist contents format (#11109)
  .changeset/young-teachers-tap.md
  packages/sdk/src/sdk/api/playlists/PlaylistsApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Return aggregate challenges regardless of completion state
  packages/discovery-provider/src/queries/get_challenges.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix wallet serialization for userMetadataToSdk
  packages/common/src/adapters/user.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add support for add/remove associated wallets to sdk
  packages/sdk/src/sdk/api/users/UsersApi.test.ts
  packages/sdk/src/sdk/api/users/UsersApi.ts
  packages/sdk/src/sdk/api/users/types.ts
  packages/sdk/src/sdk/services/EntityManager/types.ts
  packages/sdk/src/sdk/types/ChainAddress.ts
  packages/sdk/src/sdk/types/SolanaAddress.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

checkpoint
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

remove ff
  packages/common/src/services/remote-config/feature-flags.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

switch to using new transactions for add/remove wallet
  packages/common/src/models/User.ts
  packages/common/src/schemas/metadata.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/sdk/src/sdk/api/users/UsersApi.ts
  packages/sdk/src/sdk/api/users/types.ts
  packages/web/src/common/store/pages/token-dashboard/addWalletToUser.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

check for existence
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Return aggregate challenges regardless of completion state (#11234)
  packages/discovery-provider/src/queries/get_challenges.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix wallet serialization for userMetadataToSdk (#11210)
  packages/common/src/adapters/user.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Run docker container as user in CI and clean folder before test
  .circleci/src/jobs/@integration-jobs.yml
  dev-tools/compose/docker-compose.dev-tools.dev.yml
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.identity.dev.yml
  dev-tools/compose/docker-compose.pedalboard.dev.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
