Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

fix vieryf
  packages/common/src/services/remote-config/remote-config.ts
  packages/web/src/app/web-player/WebPlayer.jsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

res
  packages/web/src/components/banner/AirdropAppBanner.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert "[C-5728] Improve Android perf through strategic cache clearing (#11232)"
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/java/co/audius/app/MainActivity.kt
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/useAndroidAppLifecycleManager.ts
  packages/mobile/src/hooks/useAppState.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Revert "[C-5728] Improve Android perf through strategic cache clearin… (#11258)
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/java/co/audius/app/MainActivity.kt
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/useAndroidAppLifecycleManager.ts
  packages/mobile/src/hooks/useAppState.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Endless listen streak mobile UI
  packages/mobile/src/components/challenge-rewards-drawer/ListenStreakEndlessChallengeDrawerContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

more
  packages/common/src/utils/challenges.ts
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeDescription.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeReward.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/components/challenge-rewards-drawer/styles.ts
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/screens/rewards-screen/Panel.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Remove email access from simple entities to fetch (#11252)
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

update mobile
  packages/common/src/api/tan-query/useSearchResults.ts
  packages/mobile/src/screens/search-screen/search-results/AlbumResults.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/mobile/src/screens/search-screen/search-results/PlaylistResults.tsx
  packages/mobile/src/screens/search-screen/search-results/ProfileResults.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
  packages/mobile/src/screens/search-screen/searchState.ts
  packages/web/src/components/composer-input/components/UserMentionAutocompleteText.tsx
  packages/web/src/pages/search-page/search-results/AlbumResults.tsx
  packages/web/src/pages/search-page/search-results/PlaylistResults.tsx
  packages/web/src/pages/search-page/search-results/ProfileResults.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

FOR DYLAN
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeDescription.tsx
  packages/mobile/src/harmony-native/components/Button/FollowButton/FollowButton.tsx
  packages/mobile/src/harmony-native/components/Text/Text.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix mobile
  packages/common/src/api/tan-query/useSearchResults.ts
  packages/mobile/src/components/comments/CommentDrawer.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

junk
  packages/common/src/api/tan-query/useSearchResults.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Airdrop pt 1 (#11257)
  packages/common/src/hooks/useAudioRewards.ts
  packages/common/src/hooks/useFeatureFlag.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/utils/challenges.ts
  packages/common/src/utils/route.ts
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/challengeReward.ts
  packages/mobile/src/assets/images/emojis/parachute.png
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/assets/fonts/emojis/parachute.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/components/banner/AirdropAppBanner.tsx
  packages/web/src/components/banner/DownloadAppBanner.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/ChallengeRewardsTile.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/RewardPanel.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/rewards-page/config.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/mobile/src/components/challenge-rewards-drawer/AudioMatchingChallengeDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ListenStreakEndlessChallengeDrawerContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix artist supporting
  packages/web/src/components/artist/ArtistSupporting.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix lint web issues
  packages/web/src/components/composer-input/components/UserMentionAutocompleteText.tsx
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix type
  packages/common/src/api/tan-query/useSearchResults.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add fees to rewards claim evaluate
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

changeset
  .changeset/honest-boxes-explain.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix priority fees and compute budget limit
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Solana/programs/SolanaClient.ts
  packages/sdk/src/sdk/services/Solana/programs/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Solana/programs/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Adjust arbitrary multiplier, add maximum
  packages/sdk/src/sdk/services/Solana/programs/SolanaClient.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

changeset
  .changeset/sixty-pans-bow.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add fees to rewards claim evaluate (#11261)
  .changeset/honest-boxes-explain.md
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Add compute budget limit to buildTransaction (#11262)
  .changeset/sixty-pans-bow.md
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Solana/programs/SolanaClient.ts
  packages/sdk/src/sdk/services/Solana/programs/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Solana/programs/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Address comments
  packages/common/src/store/purchase-content/sagas.ts
  packages/discovery-provider/src/api/v1/models/users.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/tasks/entity_manager/entities/email.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[C-5740] Follow user to tan-query
  packages/common/src/api/tan-query/useFollowUser.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Endless listen streak mobile UI (#11259)
  packages/common/src/utils/challenges.ts
  packages/mobile/src/components/challenge-rewards-drawer/AudioMatchingChallengeDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeDescription.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeReward.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ListenStreakEndlessChallengeDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/styles.ts
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/screens/rewards-screen/Panel.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add useUnfollowUser
  packages/common/src/api/tan-query/useUnfollowUser.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Comms doesn't work when run as user, but luckily doesn't leave around crap
  dev-tools/compose/docker-compose.discovery.dev.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix tests, initial state for dev, email indexing
  packages/common/src/store/purchase-content/sagas.ts
  packages/discovery-provider/ddl/migrations/0117_add_is_initial_for_dev.sql
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_email_entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/entities/email.py
  packages/sdk/src/sdk/api/users/UsersApi.test.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Migrate related artists
  packages/common/src/api/index.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/pages/profile/types.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileMutuals.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/types.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[C-5601] Migrate related-artists to tan query (#10918)
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/relatedArtists.ts
  packages/common/src/store/pages/feed/reducer.ts
  packages/common/src/store/pages/feed/selectors.ts
  packages/common/src/store/pages/feed/types.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/related-artists/sagas.ts
  packages/common/src/store/ui/related-artists/selectors.ts
  packages/common/src/store/ui/related-artists/slice.ts
  packages/common/src/store/ui/related-artists/types.ts
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_related_artists.py
  packages/mobile/src/components/suggested-follows/ArtistCategoryButton.tsx
  packages/mobile/src/components/suggested-follows/ContinueButton.tsx
  packages/mobile/src/components/suggested-follows/PickArtistsForMeButton.tsx
  packages/mobile/src/components/suggested-follows/SelectArtistCategoryButtons.tsx
  packages/mobile/src/components/suggested-follows/SuggestedArtistsList.tsx
  packages/mobile/src/components/suggested-follows/SuggestedFollows.tsx
  packages/mobile/src/screens/feed-screen/EmptyFeedSuggestedFollows.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
  packages/mobile/src/store/sagas.ts
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/web/src/common/store/pages/signon/actions.ts
  packages/web/src/common/store/pages/signon/reducer.js
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/pages/signon/selectors.ts
  packages/web/src/common/store/pages/signon/types.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/RelatedArtists.tsx
  packages/web/src/pages/sign-up-page/utils/useDetermineAllowedRoutes.ts
  packages/web/src/store/sagas.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[C-5685] Add useTopTags tan-query hook and remove the top tag redux code (#11088)
  packages/common/src/api/index.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/pages/profile/types.ts
  packages/web/src/common/store/profile/fetchTopTagsSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/components/desktop/ProfileTopTags.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PAY-3885] Fix email access sharing (#11253)
  packages/common/src/store/purchase-content/sagas.ts
  packages/discovery-provider/ddl/migrations/0117_add_is_initial_for_dev.sql
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_email_entity_manager.py
  packages/discovery-provider/src/api/v1/models/users.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/tasks/entity_manager/entities/email.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/default/models/EmailAccess.ts
  packages/sdk/src/sdk/api/generated/default/models/EmailAccessResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/EmailKeyResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/users/UsersApi.test.ts
  packages/sdk/src/sdk/api/users/UsersApi.ts
  packages/sdk/src/sdk/api/users/types.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add cursorrules
  .cursorrules
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.84
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update SolanaAddressSchema to do curve validation
  packages/sdk/src/sdk/types/SolanaAddress.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

[PAY-3880] Add missing validated wallets to associated_wallets table (#11255)
  packages/discovery-provider/ddl/migrations/0117_insert_missing_wallets.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
