Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

add comment
  packages/web/src/pages/explore-page/collections.ts
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fallback to null instead of 0 (#12014)
  packages/common/src/hooks/useAudioBalance.ts
  packages/common/src/hooks/useFormattedAudioBalance.ts
  packages/harmony/src/components/balance-pill/BalancePill.tsx
  packages/harmony/src/components/balance-pill/types.ts
  packages/mobile/src/harmony-native/components/BalancePill/BalancePill.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/useNavConfig.tsx
  packages/web/src/components/nav/desktop/WalletsNestedContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

clean up
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove md files
  learnings.md
  plan.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Small
  packages/common/src/api/tan-query/useSwapTokens.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Yeet
  packages/common/src/api/tan-query/useSwapTokens.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

yeeet
  packages/common/src/api/tan-query/useSwapTokens.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add content nodes to lookup table
  packages/sdk/src/sdk/scripts/manageRewardsLookupTable.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

always flush entity manager challenges
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/entities/social_features.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.146
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Prime files
  packages/common/src/api/tan-query/useSwapTokens.ts
  packages/common/src/api/tan-query/useTokenExchangeRate.ts
  packages/common/src/services/Jupiter.ts
  packages/common/src/services/JupiterTokenExchange.ts
  packages/web/src/components/buy-sell-modal/hooks/useTokenSwapForm.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Scaffolding for m2
  packages/common/src/api/tan-query/useTokenExchangeRate.ts
  packages/common/src/services/Jupiter.ts
  packages/web/src/components/buy-sell-modal/BuySellModal.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SellTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/constants.ts
  packages/web/src/components/buy-sell-modal/hooks/useTokenSwapForm.ts
  packages/web/src/components/buy-sell-modal/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add merged search / explore page (#12016)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/assets/img/publicSite/imageSearchHeaderBackground.webp
  packages/web/src/assets/img/publicSite/imageSearchHeaderBackground@2x.webp
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/collections.ts
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add anti-abuse key to local stack
  dev-tools/compose/docker-compose.discovery.prod.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

allow routing to bridge for local stack, support sending query params for local stack
  dev-tools/compose/nginx_ingress.conf
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

remove weekly cooldown for local stack
  packages/discovery-provider/src/challenges/challenges.dev.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

update createSender to allow for aao/content node senders
  dev-tools/startup/discovery-provider.sh
  packages/discovery-provider/scripts/createSender.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add global sentry error logging for tan-query (#11998)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/utils/defaultConfig.ts
  packages/common/src/api/tan-query/utils/defaultRetryConfig.ts
  packages/mobile/src/services/query-client.ts
  packages/web/src/services/query-client.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-6059] Deprecate audius-query purchases.ts (#12007)
  packages/common/src/api/index.ts
  packages/common/src/api/purchases.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/purchases/usePurchases.ts
  packages/common/src/api/tan-query/purchases/useSales.ts
  packages/common/src/api/tan-query/tracks/useTracks.ts
  packages/common/src/api/tan-query/users/useUsers.ts
  packages/common/src/api/tan-query/utils/combineQueryResults.ts
  packages/common/src/api/track.ts
  packages/web/src/hooks/useErrorPageOnFailedStatus.ts
  packages/web/src/hooks/useTrackCoverArt.ts
  packages/web/src/pages/pay-and-earn-page/components/PurchasesTab.tsx
  packages/web/src/pages/pay-and-earn-page/components/SalesTab.tsx
  packages/web/src/pages/pay-and-earn-page/components/TrackNameWithArtwork.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-6085] Remix contest started notification
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/notifications/useNotificationValidTypes.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/ddl/functions/handle_event.sql
  packages/discovery-provider/integration_tests/tasks/test_remix_contest_started_notification.py
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixContestStartedNotification.tsx
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/RemixContestStartedNotification.tsx
  packages/web/src/components/notification/Notification/components/TrackContent.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add alpha version of claim all rewards to sdk
  .changeset/tough-ways-bow.md
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
  packages/sdk/src/sdk/api/challenges/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

specifier is notified user instead
  packages/discovery-provider/ddl/functions/handle_event.sql
  packages/discovery-provider/integration_tests/tasks/test_remix_contest_started_notification.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add cp (pinned comment) to valid challenge enums
  packages/sdk/src/sdk/api/challenges/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

changeset
  .changeset/fair-ears-look.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add pinned comment challenge to valid challenges enum (#12022)
  .changeset/fair-ears-look.md
  packages/sdk/src/sdk/api/challenges/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Always flush entity manager challenges (#12018)
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/entities/social_features.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add audius-cmd to claim all rewards
  packages/commands/src/index.ts
  packages/commands/src/misc/claim-reward.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Deprecate topArtists hooks
  packages/common/src/api/reducer.ts
  packages/common/src/api/topArtists.ts
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/TopArtistsCardList.tsx
  packages/web/src/pages/sign-up-page/pages/SelectArtistsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add content nodes to lookup table script (#12017)
  packages/sdk/src/sdk/scripts/manageRewardsLookupTable.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

fix imports
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update to use pin icon
  packages/web/src/assets/fonts/emojis/pin.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/pages/rewards-page/config.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update to use pin icon (#12025)
  packages/web/src/assets/fonts/emojis/pin.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/pages/rewards-page/config.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update android build
  packages/mobile/android/build.gradle
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

forgot imports
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

[PE-6085] Remix contest started notification (#12021)
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/notifications/useNotificationValidTypes.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/ddl/functions/handle_event.sql
  packages/discovery-provider/integration_tests/tasks/test_remix_contest_started_notification.py
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixContestStartedNotification.tsx
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/RemixContestStartedNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/RemixContestStartedNotification.tsx
  packages/web/src/components/notification/Notification/components/TrackContent.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add support for claiming all challenges via bridge (in dev) to SDK (#12023)
  .changeset/tough-ways-bow.md
  dev-tools/compose/docker-compose.discovery.prod.yml
  dev-tools/compose/nginx_ingress.conf
  dev-tools/startup/discovery-provider.sh
  packages/commands/src/index.ts
  packages/commands/src/misc/claim-reward.ts
  packages/discovery-provider/scripts/createSender.ts
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
  packages/sdk/src/sdk/api/challenges/types.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

[PE-1628] Fix react-native import
  packages/mobile/ios/scripts/bundleReactNative.sh
  packages/mobile/metro.config.js
  packages/mobile/patches/react-native+0.76.9.patch
  scripts/postinstall.sh
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
