Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

config
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/audio-page/config.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint
  packages/web/src/pages/audio-page/AudioPage.tsx
  packages/web/src/pages/rewards-page/RewardsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Retrigger harmony release
  .changeset/rude-bees-bathe.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Retrigger harmony release (#11199)
  .changeset/rude-bees-bathe.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

only one ChallengeRewardsModal
  packages/web/src/pages/audio-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/AudioMatchingRewardsModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ProgressDescription.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ProgressReward.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/index.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add changesets to publish-packages filter
  .github/workflows/publish-packages.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

modify changeset
  .changeset/rude-bees-bathe.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add changesets to publish-packages filter (#11200)
  .changeset/rude-bees-bathe.md
  .github/workflows/publish-packages.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.79
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update .version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

bump because this release is already created
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update .version.json (#11201)
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.80
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

batchSetQueriesData
  packages/common/src/api/tan-query/utils/batchSetQueriesData.ts
  packages/common/src/api/tan-query/utils/batchSetQueriesEntries.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix publish-package changeset include
  .github/workflows/publish-packages.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix publish-package changeset include (#11203)
  .github/workflows/publish-packages.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

adopt everywhere
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/api/tan-query/useSearchResults.ts
  packages/common/src/api/tan-query/useSupportedUsers.ts
  packages/common/src/api/tan-query/useSupporters.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUpdateCollection.ts
  packages/common/src/api/tan-query/useUpdateProfile.ts
  packages/common/src/api/tan-query/useUpdateTrack.ts
  packages/common/src/api/tan-query/useUpdateUser.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
  packages/common/src/api/tan-query/utils/batchSetQueriesData.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

migrate syncWithReactQuery
  packages/common/src/store/cache/syncWithReactQuery.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/common/src/api/tan-query/utils/batchSetQueriesEntries.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update audius-cmd to allow for JSON output, support AI attribution field in create user call from SDK
  packages/commands/src/album/create-album.ts
  packages/commands/src/album/get-album.ts
  packages/commands/src/album/index.ts
  packages/commands/src/album/purchase-album.ts
  packages/commands/src/common-options.ts
  packages/commands/src/track/get-track.ts
  packages/commands/src/track/upload-track.ts
  packages/commands/src/user/create-user.ts
  packages/commands/src/user/edit-user.ts
  packages/commands/src/utils.ts
  packages/sdk/src/sdk/api/users/types.ts
  packages/web/e2e/data.seed.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

changeset
  .changeset/long-ducks-rescue.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add logs
  packages/discovery-provider/src/conftest.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Looking great
  packages/common/src/api/tan-query/useTrackHistory.ts
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/tracks-table/TrackTableLineup.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/history-page/components/desktop/HistoryPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/common/src/api/tan-query/types.ts
  packages/web/src/components/table/Table.tsx
  packages/web/src/pages/history-page/HistoryPage.tsx
  packages/web/src/pages/history-page/HistoryPageProvider.tsx
  packages/web/src/pages/history-page/components/mobile/HistoryPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix import
  packages/common/src/adapters/audioTransactions.ts
  packages/common/src/api/tan-query/useAudioTransactions.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix recursion
  packages/discovery-provider/src/conftest.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

working minus one bug
  packages/common/src/api/tan-query/useTrending.ts
  packages/web/src/common/store/pages/trending/lineups/trending/sagas.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/feed-page/FeedPageProvider.jsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
  packages/web/src/pages/feed-page/types.ts
  packages/web/src/pages/trending-page/TrendingPage.tsx
  packages/web/src/pages/trending-page/components/desktop/TrendingPageContent.tsx
  packages/web/src/pages/trending-page/components/mobile/TrendingPageContent.tsx
  packages/web/src/pages/trending-page/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix chain health recursion in discovery test (#11206)
  packages/discovery-provider/src/conftest.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix up mobile feed
  packages/common/src/api/tan-query/useFeed.ts
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
  packages/web/src/pages/feed-page/components/mobile/FeedPageContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/web/src/components/track/mobile/PlaylistTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3837] Fix response for missing cover art/photo (#11181)
  packages/discovery-provider/src/api/v1/helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix playwright seeding commands (#11205)
  .changeset/long-ducks-rescue.md
  packages/commands/src/album/create-album.ts
  packages/commands/src/album/get-album.ts
  packages/commands/src/album/index.ts
  packages/commands/src/album/purchase-album.ts
  packages/commands/src/common-options.ts
  packages/commands/src/track/get-track.ts
  packages/commands/src/track/upload-track.ts
  packages/commands/src/user/create-user.ts
  packages/commands/src/user/edit-user.ts
  packages/commands/src/utils.ts
  packages/sdk/src/sdk/api/users/types.ts
  packages/web/e2e/data.seed.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Run integration workflow CI on e2e test changes in PRs
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update e2e tests
  packages/web/e2e/auth.setup.ts
  packages/web/e2e/data.ts
  packages/web/e2e/editCollection.test.ts
  packages/web/e2e/page-object-models/editCollection.ts
  packages/web/e2e/page-object-models/modals.ts
  packages/web/e2e/page-object-models/socialActions.ts
  packages/web/e2e/page-object-models/upload.ts
  packages/web/e2e/play.test.ts
  packages/web/e2e/smoke.test.ts
  packages/web/e2e/socials.test.ts
  packages/web/e2e/uploadCollection.test.ts
  packages/web/e2e/uploadTrack.test.ts
  packages/web/e2e/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

add accessibility name for visibility field
  packages/web/src/components/edit/fields/visibility/VisibilityField.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix profile picture edit camera button
  packages/web/src/pages/sign-up-page/components/AccountHeader.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix dev skip suggested follows experience
  packages/web/src/pages/sign-up-page/pages/SelectArtistsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix logged-out-but-has-connected-wallet experience
  packages/web/src/services/audius-sdk/auth.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
