Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

hook up analytics
  packages/common/src/api/tan-query/useDownloadTrackStems.ts
  packages/common/src/models/Analytics.ts
  packages/common/src/models/ErrorReporting.ts
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
  packages/web/src/components/download-track-archive-modal/DownloadTrackArchiveModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

get rid of unnecessary isOpen tracking
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
  packages/web/src/components/download-track-archive-modal/DownloadTrackArchiveModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add index and use indexes better in block confirmation (#11742)
  packages/discovery-provider/ddl/migrations/0129_core_blockhash_index.sql
  packages/discovery-provider/src/queries/get_block_confirmation.py
  packages/discovery-provider/src/queries/get_block_confirmation_unit_test.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5889] useEventByEntityId hook + track page UI
  packages/common/src/api/tan-query/events/index.ts
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ListenStreakChallengeModalContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

PR comments
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/utils.ts
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

PR comments
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

undo scroll changes
  packages/web/src/pages/feed-page/FeedPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update mobile web trending
  packages/web/src/pages/trending-page/components/mobile/TrendingPageContent.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update block no
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/rewards.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Improve trending rewards plugin (#11555)
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/main.ts
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/rewards.ts
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/sdk.ts
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/trending.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert "[PE-5863] Migrate Follow/Unfollow user to tan-query (#11316) (#11664)"
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useFollowUser.ts
  packages/common/src/api/tan-query/useUnfollowUser.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/common/src/store/social/users/actions.ts
  packages/common/src/store/tipping/slice.ts
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/overflow-menu-drawer/ProfileOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/user/FollowButton.tsx
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/web/src/common/store/social/users/errorSagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/common/store/social/users/store.test.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/artist/ArtistCard.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/follow-button/FollowButton.tsx
  packages/web/src/components/menu/UserMenu.tsx
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/components/track-overflow-modal/ConnectedMobileOverflowModal.tsx
  packages/web/src/components/unfollow-confirmation-modal/UnfollowConfirmationModal.tsx
  packages/web/src/components/unfollow-confirmation-modal/components/UnfollowConfirmationModal.tsx
  packages/web/src/pages/collection-page/CollectionPage.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/track-page/TrackPage.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix follow artist gate ui
  packages/web/src/components/track/GatedContentSection.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Show cosign on feed and search
  packages/discovery-provider/src/utils/elasticdsl.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Show comment-badges in preview (#11743)
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix follow artist gate ui (#11750)
  packages/web/src/components/track/GatedContentSection.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2038] Fix mobile social link text truncation
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SocialLink.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2038] Fix mobile social link text truncation (#11752)
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SocialLink.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert "[PE-5863] Migrate Follow/Unfollow user to tan-query (#11316) (#11749)
  packages/common/src/api/index.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/common/src/store/social/users/actions.ts
  packages/common/src/store/tipping/slice.ts
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/overflow-menu-drawer/ProfileOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/user/FollowButton.tsx
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/web/src/common/store/social/users/errorSagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/common/store/social/users/store.test.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/artist/ArtistCard.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/follow-button/FollowButton.tsx
  packages/web/src/components/menu/UserMenu.tsx
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/components/track-overflow-modal/ConnectedMobileOverflowModal.tsx
  packages/web/src/components/unfollow-confirmation-modal/UnfollowConfirmationModal.tsx
  packages/web/src/components/unfollow-confirmation-modal/components/UnfollowConfirmationModal.tsx
  packages/web/src/pages/collection-page/CollectionPage.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/track-page/TrackPage.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix user sagas lint
  packages/web/src/common/store/social/users/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Retrigger
  README.md
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.126
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add tq logic to native mobile
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/trending-screen/TrendingLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint fix
  packages/mobile/src/screens/trending-screen/TrendingLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix use feed to new lineup setup
  packages/common/src/api/tan-query/useFeed.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

update archiver endpoint to use load-balanced API
  packages/mobile/src/services/env/env.prod.ts
  packages/mobile/src/services/env/env.stage.ts
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

small updates
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5897] Mobile stems download experience (#11729)
  packages/common/src/api/tan-query/useDownloadTrackStems.ts
  packages/common/src/context/appContext.ts
  packages/common/src/models/Analytics.ts
  packages/common/src/models/ErrorReporting.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/mobile/src/app/AppContextProvider.tsx
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/DrawerHeader.tsx
  packages/mobile/src/components/core/HarmonyModalHeader.tsx
  packages/mobile/src/components/download-track-archive-drawer/DownloadTrackArchiveDrawer.tsx
  packages/mobile/src/components/download-track-archive-drawer/index.ts
  packages/mobile/src/components/drawers/OfflineListeningDrawer.tsx
  packages/mobile/src/components/manager-mode-drawer/ManagerModeDrawer.tsx
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
  packages/mobile/src/services/sdk/audius-sdk.ts
  packages/mobile/src/services/track-download.ts
  packages/web/src/app/AppContextProvider.tsx
  packages/web/src/components/download-track-archive-modal/DownloadTrackArchiveModal.tsx
  packages/web/src/services/track-download.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

small update
  packages/common/src/store/ui/modals/parentSlice.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Remove lua entirely from nginx
  packages/discovery-provider/Dockerfile.nginx
  packages/discovery-provider/Dockerfile.prod
  packages/discovery-provider/nginx_conf/config.lua
  packages/discovery-provider/nginx_conf/log_json.lua
  packages/discovery-provider/nginx_conf/main.lua
  packages/discovery-provider/nginx_conf/plugins.lua
  packages/discovery-provider/nginx_conf/port.lua
  packages/discovery-provider/nginx_conf/utils.lua
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-5887] Add host contest modal and add ability to start remix contests (#11746)
  packages/common/src/store/ui/modals/host-remix-contest-modal/index.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/harmony/src/components/select/Select/Select.tsx
  packages/web/src/components/edit/fields/DatePickerField.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Use : instead of _ in challenge specifiers
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_challenge_base.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update archiver endpoint to use load-balanced API (#11754)
  packages/mobile/src/services/env/env.prod.ts
  packages/mobile/src/services/env/env.stage.ts
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-2026] Migration to change challenge specifiers from _ to :
  packages/discovery-provider/ddl/migrations/0130_update_challenge_specifier_format.sql
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Use : instead of _ in challenge specifiers (#11755)
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_challenge_base.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

PR comments
  packages/common/src/api/tan-query/events/useEventsByEntityId.ts
  packages/common/src/api/tan-query/events/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

use deadline
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
