Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update clients
  packages/commands/src/upload-track.mjs
  packages/common/src/models/Search.ts
  packages/common/src/models/Track.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/libs/src/services/creatorNode/CreatorNode.ts
  packages/libs/src/services/schemaValidator/schemas/trackSchema.json
  packages/libs/src/utils/types.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/data-entry/AccessAndSaleTriggerLegacy.tsx
  packages/web/src/components/data-entry/FormTile.jsx
  packages/web/src/components/data-entry/StemsAndDownloadsTriggerLegacy.tsx
  packages/web/src/components/edit-track/EditTrackModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
  packages/web/src/components/stem-files-modal/StemFilesModal.tsx
  packages/web/src/pages/track-page/utils.ts
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsField.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsMenuFields.tsx
  packages/web/src/pages/upload-page/fields/types.ts
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/store/utils/stems.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove old 'downloadable' field
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/es-indexer/src/indexers/TrackIndexer.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Lint
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update generated types in sdk
  packages/libs/src/sdk/api/generated/default/apis/TracksApi.ts
  packages/libs/src/sdk/api/generated/default/models/Track.ts
  packages/libs/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/libs/src/sdk/api/generated/full/models/TrackFull.ts
  packages/libs/src/sdk/api/generated/full/models/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove more download json instances
  packages/common/src/hooks/useStems.ts
  packages/libs/src/sdk/api/tracks/TrackUploadHelper.ts
  packages/libs/src/sdk/api/tracks/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Temporarily return old json download field for old clients. Also remove old premium fields
  packages/discovery-provider/src/api/v1/models/tracks.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove remaining lossless downloads feature flags
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/components/data-entry/StemsAndDownloadsTriggerLegacy.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsField.tsx
  packages/web/src/pages/upload-page/fields/StemsAndDownloadsMenuFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Rename migration
  packages/discovery-provider/ddl/migrations/0061_delete_track_download_json_column.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Return download json response in dn for old clients
  packages/discovery-provider/src/api/v1/models/tracks.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix test
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/models/tracks.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.61
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix invalid signup paths not redirecting
  packages/web/src/pages/sign-up-page/SignUpPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add cursor:pointer to artist previews
  packages/web/src/pages/sign-up-page/components/FollowArtistCard.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-3953] Perma-dismiss purple select artists banner on mobile (#7790)
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/PreviewArtistHint.tsx
  packages/web/src/pages/sign-up-page/components/PreviewArtistHint.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix handle error text
  packages/web/src/pages/sign-up-page/components/HandleField.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

user working much better
  packages/discovery-provider/src/queries/search_es.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Related artists in sql (#7857)
  packages/discovery-provider/ddl/migrations/0062_related_artists_idx.sql
  packages/discovery-provider/integration_tests/tasks/test_index_related_artists.py
  packages/discovery-provider/requirements.txt
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/queries/get_related_artists.py
  packages/discovery-provider/src/queries/get_related_artists_minhash.py
  packages/discovery-provider/src/tasks/index_related_artists.py
  packages/discovery-provider/src/tasks/update_aggregates.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

better user
  packages/discovery-provider/src/queries/search_es.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

batch of qa after the first
  protocol-dashboard/src/App.tsx
  protocol-dashboard/src/assets/img/apiBanner.webp
  protocol-dashboard/src/assets/img/apiBanner@2x.png
  protocol-dashboard/src/assets/img/apiBanner@2x.webp
  protocol-dashboard/src/components/ContentTable/ContentTable.tsx
  protocol-dashboard/src/components/DiscoveryTable/DiscoveryTable.tsx
  protocol-dashboard/src/components/RewardsTimingCard/RewardsTimingCard.tsx
  protocol-dashboard/src/components/TopAddressesTable/TopAddressesTable.tsx
  protocol-dashboard/src/components/TopOperatorsTable/TopOperatorsTable.tsx
  protocol-dashboard/src/containers/API/API.module.css
  protocol-dashboard/src/containers/API/APIMobile.module.css
  protocol-dashboard/src/containers/ContentNodes/ContentNodes.tsx
  protocol-dashboard/src/containers/DiscoveryProviders/DiscoveryProviders.tsx
  protocol-dashboard/src/containers/Home/Home.tsx
  protocol-dashboard/src/containers/Node/Node.tsx
  protocol-dashboard/src/containers/UnregisteredNode/UnregisteredNode.tsx
  protocol-dashboard/src/containers/User/User.tsx
  protocol-dashboard/src/utils/routes.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix publisher types
  packages/ddex/publisher/src/models/pendingReleases.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update simulator
  packages/mobile/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

try to reduce test oom
  packages/probers/cypress/config/dev.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Use local examples instead of downloading entire repo
  packages/create-audius-app/create-app.ts
  packages/create-audius-app/examples/README.md
  packages/create-audius-app/examples/react/.eslintrc.cjs
  packages/create-audius-app/examples/react/.gitignore
  packages/create-audius-app/examples/react/README.md
  packages/create-audius-app/examples/react/index.html
  packages/create-audius-app/examples/react/package-lock.json
  packages/create-audius-app/examples/react/package.json
  packages/create-audius-app/examples/react/public/vite.svg
  packages/create-audius-app/examples/react/src/App.css
  packages/create-audius-app/examples/react/src/App.tsx
  packages/create-audius-app/examples/react/src/assets/react.svg
  packages/create-audius-app/examples/react/src/emotion.d.ts
  packages/create-audius-app/examples/react/src/main.tsx
  packages/create-audius-app/examples/react/src/vite-env.d.ts
  packages/create-audius-app/examples/react/tsconfig.json
  packages/create-audius-app/examples/react/tsconfig.node.json
  packages/create-audius-app/examples/react/vite.config.ts
  packages/create-audius-app/helpers/copy.ts
  packages/create-audius-app/helpers/examples.ts
  packages/create-audius-app/index.ts
  packages/create-audius-app/package.json
  packages/create-audius-app/tsconfig.json
  packages/libs/src/sdk/examples/README.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

code review
  protocol-dashboard/src/App.tsx
  protocol-dashboard/src/components/InfoTooltip/InfoTooltip.tsx
  protocol-dashboard/src/components/RegisterNodeCard/RegisterNodeCard.tsx
  protocol-dashboard/src/components/Tooltip/Tooltip.tsx
  protocol-dashboard/src/containers/Node/Node.tsx
  protocol-dashboard/src/containers/UnregisteredNode/UnregisteredNode.tsx
  protocol-dashboard/src/containers/User/User.tsx
  protocol-dashboard/src/utils/routes.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

change serices routes to nodes
  mediorum/server/server.go
  packages/discovery-provider/src/api/v1/root_path.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup
  protocol-dashboard/src/utils/routes.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Document local audius-compose DDEX steps
  dev-tools/config.json
  packages/ddex/README.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[Protocol Dashboard] Requested changes to new Protocol Dashboard [C-4013] (#7863)
  protocol-dashboard/src/App.tsx
  protocol-dashboard/src/assets/img/apiBanner.webp
  protocol-dashboard/src/assets/img/apiBanner@2x.png
  protocol-dashboard/src/assets/img/apiBanner@2x.webp
  protocol-dashboard/src/components/ContentTable/ContentTable.tsx
  protocol-dashboard/src/components/DiscoveryTable/DiscoveryTable.tsx
  protocol-dashboard/src/components/InfoTooltip/InfoTooltip.tsx
  protocol-dashboard/src/components/RegisterNodeCard/RegisterNodeCard.tsx
  protocol-dashboard/src/components/RewardsTimingCard/RewardsTimingCard.tsx
  protocol-dashboard/src/components/Tooltip/Tooltip.tsx
  protocol-dashboard/src/components/TopAddressesTable/TopAddressesTable.tsx
  protocol-dashboard/src/components/TopOperatorsTable/TopOperatorsTable.tsx
  protocol-dashboard/src/containers/API/API.module.css
  protocol-dashboard/src/containers/API/APIMobile.module.css
  protocol-dashboard/src/containers/ContentNodes/ContentNodes.tsx
  protocol-dashboard/src/containers/DiscoveryProviders/DiscoveryProviders.tsx
  protocol-dashboard/src/containers/Home/Home.tsx
  protocol-dashboard/src/containers/Node/Node.tsx
  protocol-dashboard/src/containers/UnregisteredNode/UnregisteredNode.tsx
  protocol-dashboard/src/containers/User/User.tsx
  protocol-dashboard/src/utils/routes.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Clarify staging user ID
  packages/ddex/README.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add tests
  packages/create-audius-app/create-app.ts
  packages/create-audius-app/helpers/examples.ts
  packages/create-audius-app/index.test.ts
  packages/create-audius-app/index.ts
  packages/create-audius-app/package.json
  packages/create-audius-app/test/use-temp-dir.ts
  packages/create-audius-app/test/utils.ts
  packages/create-audius-app/turbo.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add create-audius-app tests to ci
  .circleci/config.yml
  .circleci/src/@continue_config.yml
  .circleci/src/jobs/@create-audius-app-jobs.yml
  .circleci/src/workflows/create-audius-app.yml
  packages/create-audius-app/package.json
  packages/create-audius-app/tsconfig.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add fixed-decimal to web deps and update version in libs
  packages/libs/package.json
  packages/web/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Cache node_modules in ci
  .circleci/config.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix e2e
  packages/ddex/ingester/e2e_test/e2e_test.go
  packages/ddex/ingester/parser/ern38x.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add scroll views to each screen + rework footer positioning
  packages/mobile/src/screens/sign-on-screen/components/layout.tsx
  packages/mobile/src/screens/sign-on-screen/screens/CreatePasswordScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/FinishProfileScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/PickHandleScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
