Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PAY-3837] Fix response for missing cover art/photo
  packages/discovery-provider/src/api/v1/helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3853] Add rewards, audio, and usdc pages to mobile web
  packages/web/src/components/nav/mobile/ConnectedNavBar.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Conditionally decrypt based on is_initial value (#11148)
  packages/common/src/services/env.ts
  packages/web/src/pages/pay-and-earn-page/components/SalesTab.tsx
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-1916] Fix retrieveCollections call sites to pass in current user ID (#11059)
  packages/web/src/common/store/account/sagas.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/common/store/pages/explore/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/saved-collections/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wip - working desktop state
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useFeed.ts
  packages/common/src/api/tan-query/usePremiumTracks.ts
  packages/common/src/api/tan-query/useTrackHistory.ts
  packages/common/src/api/tan-query/useTrending.ts
  packages/common/src/api/tan-query/useTrendingPlaylists.ts
  packages/common/src/api/tan-query/useTrendingUnderground.ts
  packages/common/src/api/tan-query/utils/useLineupQuery.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/pages/trending-page/TrendingPage.tsx
  packages/web/src/pages/trending-page/TrendingPageProvider.d.ts
  packages/web/src/pages/trending-page/TrendingPageProvider.jsx
  packages/web/src/pages/trending-page/components/desktop/TrendingPageContent.tsx
  packages/web/src/pages/trending-page/components/mobile/TrendingPageContent.tsx
  packages/web/src/pages/trending-page/types.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PAY-3853] Add rewards, audio, and usdc pages to mobile web (#11182)
  packages/web/src/components/nav/mobile/ConnectedNavBar.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Handle promise rejection to keep container alive (#11162)
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/middleware/signerRecovery.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/feePayer.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

add support for add/remove associated wallet txs
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_user_entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/utils.py
  packages/discovery-provider/src/tasks/metadata.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

update remove test
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_user_entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Adding query key fns
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/api/tan-query/developerApps.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useAudioTransactions.ts
  packages/common/src/api/tan-query/useAudioTransactionsCount.ts
  packages/common/src/api/tan-query/useAuthorizedApps.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByParams.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollectionFavorites.ts
  packages/common/src/api/tan-query/useCollectionReposts.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useCurrentUser.ts
  packages/common/src/api/tan-query/useEmailInUse.ts
  packages/common/src/api/tan-query/useExploreContent.ts
  packages/common/src/api/tan-query/useFavoritedTracks.ts
  packages/common/src/api/tan-query/useFeed.ts
  packages/common/src/api/tan-query/useFollowers.ts
  packages/common/src/api/tan-query/useFollowing.ts
  packages/common/src/api/tan-query/useHandleInUse.ts
  packages/common/src/api/tan-query/useHandleReservedStatus.ts
  packages/common/src/api/tan-query/useLibraryCollections.ts
  packages/common/src/api/tan-query/useLibraryTracks.ts
  packages/common/src/api/tan-query/useMarkNotificationsAsViewed.ts
  packages/common/src/api/tan-query/useMutedUsers.ts
  packages/common/src/api/tan-query/useMutualFollowers.ts
  packages/common/src/api/tan-query/useNotificationUnreadCount.ts
  packages/common/src/api/tan-query/useNotifications.ts
  packages/common/src/api/tan-query/usePremiumTracks.ts
  packages/common/src/api/tan-query/useProfileReposts.ts
  packages/common/src/api/tan-query/useProfileTracks.ts
  packages/common/src/api/tan-query/usePurchasers.ts
  packages/common/src/api/tan-query/usePurchasersCount.ts
  packages/common/src/api/tan-query/usePurchases.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finalize
  packages/common/src/api/tan-query/useTrackPageLineup.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add missing mock patch
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_user_entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

WORKING
  packages/discovery-provider/integration_tests/challenges/test_challenges.py
  packages/discovery-provider/integration_tests/challenges/test_listen_streak_endless_challenge.py
  packages/discovery-provider/src/challenges/audio_matching_challenge.py
  packages/discovery-provider/src/challenges/challenge.py
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
  packages/discovery-provider/src/challenges/referral_challenge.py
  packages/discovery-provider/src/challenges/trending_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

remove logs
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update dev mode local storage value (#11112)
  packages/web/src/components/dev-mode-manager/DevModeManager.tsx
  packages/web/src/hooks/useDevModeHotkey.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Final tweaks
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/api/tan-query/developerApps.ts
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useAudioTransactions.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionFavorites.ts
  packages/common/src/api/tan-query/useCollectionReposts.ts
  packages/common/src/api/tan-query/useFeed.ts
  packages/common/src/api/tan-query/useFollowers.ts
  packages/common/src/api/tan-query/useFollowing.ts
  packages/common/src/api/tan-query/useLibraryCollections.ts
  packages/common/src/api/tan-query/useLibraryTracks.ts
  packages/common/src/api/tan-query/useMutualFollowers.ts
  packages/common/src/api/tan-query/useNotifications.ts
  packages/common/src/api/tan-query/usePurchasers.ts
  packages/common/src/api/tan-query/usePurchasersCount.ts
  packages/common/src/api/tan-query/usePurchases.ts
  packages/common/src/api/tan-query/useRemoveAuthorizedApp.ts
  packages/common/src/api/tan-query/useSupportedUsers.ts
  packages/common/src/api/tan-query/useSupporters.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint fixes
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useUpdateCollection.ts
  packages/common/src/api/tan-query/useUpdateProfile.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/discovery-provider/src/challenges/challenge_event_bus.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add guest checkout metrics
  packages/common/src/models/Analytics.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add to mobile-web
  packages/common/src/api/tan-query/useTrackByParams.ts
  packages/common/src/store/pages/track/actions.ts
  packages/web/src/common/store/pages/track/sagas.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/section-button/SectionButton.module.css
  packages/web/src/components/section-button/SectionButton.tsx
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/TrackRemixes.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/Remixes.module.css
  packages/web/src/pages/track-page/components/mobile/Remixes.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

another lint
  packages/web/src/pages/pay-and-earn-page/components/PurchasesTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rename draggingId
  packages/common/src/api/tan-query/useAddToPlaylistFolder.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add mobile
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemixes.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Finalize
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Finalize
  packages/common/src/api/tan-query/useTrackPageLineup.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fixes
  packages/web/src/components/lineup/TanQueryLineup.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5696] Migrate track page lineup to tan-query (#11184)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useTrackByParams.ts
  packages/common/src/api/tan-query/useTrackPageLineup.ts
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenLineup.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemixes.tsx
  packages/web/src/common/store/pages/track/lineups/sagas.ts
  packages/web/src/common/store/pages/track/sagas.ts
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/components/section-button/SectionButton.module.css
  packages/web/src/components/section-button/SectionButton.tsx
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/TrackPageLineup.tsx
  packages/web/src/pages/track-page/components/TrackRemixes.tsx
  packages/web/src/pages/track-page/components/desktop/Remixes.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/Remixes.module.css
  packages/web/src/pages/track-page/components/mobile/Remixes.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[QA-1944] Fix embed harmony icon import (#11167)
  packages/embed/src/components/dog-ear/DogEar.jsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-1936] Fix desktop header styling and layout (#11169)
  packages/harmony/src/assets/icons/AudiusLogoHorizontal.svg
  packages/harmony/src/components/internal/MenuItem.tsx
  packages/harmony/src/components/scrollbar/Scrollbar.module.css
  packages/harmony/src/foundations/theme/ThemeProvider.tsx
  packages/harmony/src/icons/GradientDefs.tsx
  packages/web/src/app/AppProviders.tsx
  packages/web/src/app/SvgGradientProvider.tsx
  packages/web/src/components/header/desktop/Header.tsx
  packages/web/src/components/link/TrackLink.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/nav/desktop/NavHeader.tsx
  packages/web/src/components/nav/mobile/NavBar.module.css
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/pages/MainContentContext.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.module.css
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/remixes-page/components/desktop/RemixesPage.module.css
  packages/web/src/pages/remixes-page/components/desktop/RemixesPage.tsx
  packages/web/src/pages/remixes-page/components/mobile/RemixesPage.module.css
  packages/web/src/pages/remixes-page/components/mobile/RemixesPage.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/track-page/components/desktop/Remixes.module.css
  packages/web/src/pages/track-page/components/mobile/Remixes.module.css
  svgr-template.js
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-1939] Fix notification settings modal scroll (#11171)
  packages/web/src/pages/settings-page/components/desktop/NotificationSettings.module.css
  packages/web/src/pages/settings-page/components/desktop/NotificationSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-1939] Fix edit key select (#11172)
  packages/harmony/src/components/select/Select/Select.tsx
  packages/harmony/src/components/select/Select/types.ts
  packages/web/src/components/edit/fields/KeySelectField.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5592] Prevent multiple tabs from playing audio (#11175)
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-1938] Fix chat header on small screens (#11173)
  packages/harmony/src/components/button/IconButton/IconButton.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.module.css
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/rewards-page/Tiers.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-1943] Fix playlist seen (#11177)
  packages/sdk/src/sdk/api/notifications/NotificationsApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

[QA-1937] Fix search bar hover text (#11174)
  packages/web/src/components/search-bar/SearchBarResult.module.css
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[QA-1498] Fix create album from existing track (#11179)
  .changeset/healthy-mangos-train.md
  packages/harmony/src/components/select/Select/Select.tsx
  packages/sdk/src/sdk/api/albums/types.ts
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/createAlbumSaga.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
