Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

More remix contest notif fixes
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/ArtistRemixContestSubmissionsNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestEndedNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestStartedNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

inline
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/ArtistRemixContestSubmissionsNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestStartedNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

wip
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix web track page lineup
  packages/common/src/api/tan-query/tracks/useTrackByParams.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PE-6183] Contest entries filter selected by default
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

More remix contest notif fixes (#12115)
  packages/web/src/components/notification/Notification/ArtistRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/ArtistRemixContestSubmissionsNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestEndedNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestEndingSoonNotification.tsx
  packages/web/src/components/notification/Notification/FanRemixContestStartedNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remixes QA pass
  packages/common/src/messages/remixes.ts
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/DownloadRow.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/remixes-page/components/mobile/NewRemixesPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Remove unnecessary prop
  packages/web/src/components/track/DownloadRow.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

add param in nav instead
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix tests and simpler pkey
  packages/discovery-provider/ddl/migrations/0138_add_playlist_trending_scores.sql
  packages/discovery-provider/integration_tests/tasks/test_index_trending.py
  packages/discovery-provider/src/trending_strategies/pnagD_trending_playlists_strategy.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-6185] Remixes QA pass (#12118)
  packages/common/src/messages/remixes.ts
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/DownloadRow.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/remixes-page/components/mobile/NewRemixesPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix persist redux
  packages/web/src/store/configureStore.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PE-6183] Contest entries filter selected by default (#12117)
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Include contest entries param in remix submissions tab
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

no ?
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

better
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix redux persist in web causing navigation issues (#12119)
  packages/web/src/store/configureStore.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix config for prod API server
  packages/web/src/services/env/env.prod.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Include contest entries param in remix submissions tab (#12120)
  packages/web/src/pages/track-page/components/desktop/RemixContestSubmissionsTab.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix bug where queryUser was not priming old cache
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/users/useUser.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix config for prod API server (#12121)
  packages/web/src/services/env/env.prod.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix bug where queryUser was not priming old cache (#12122)
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/users/useUser.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

add label spotlight
  packages/common/src/api/tan-query/collection/useExploreContent.ts
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/collections.ts
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.154
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

actually fix the tests
  packages/discovery-provider/integration_tests/tasks/test_index_trending.py
  packages/discovery-provider/src/models/playlists/playlist_trending_score.py
  packages/discovery-provider/src/tasks/index_trending.py
  packages/discovery-provider/src/trending_strategies/pnagD_trending_playlists_strategy.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[API-132] Add trending playlists scores table (#12111)
  packages/discovery-provider/ddl/migrations/0138_add_playlist_trending_scores.sql
  packages/discovery-provider/integration_tests/tasks/test_index_trending.py
  packages/discovery-provider/src/models/playlists/playlist_trending_score.py
  packages/discovery-provider/src/tasks/index_trending.py
  packages/discovery-provider/src/trending_strategies/pnagD_trending_playlists_strategy.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix web track page lineup (#12116)
  packages/common/src/api/tan-query/tracks/useTrackByParams.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix min ios version (#12114)
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update import to fix main (#12098)
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

rework useCurrentAccount
  packages/common/src/api/tan-query/users/account/useAddToPlaylistFolder.ts
  packages/common/src/api/tan-query/users/account/useCurrentAccount.ts
  packages/common/src/api/tan-query/users/account/usePlaylistLibrary.ts
  packages/common/src/api/tan-query/users/account/useReorderLibrary.ts
  packages/common/src/api/tan-query/users/account/useUpdatePlaylistLibrary.ts
  packages/common/src/api/tan-query/users/useFollowUser.ts
  packages/common/src/api/tan-query/users/useUnfollowUser.ts
  packages/common/src/api/tan-query/users/useUpdateUser.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

default background
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add explore carousel, label spotlight, mood tags (#12123)
  packages/common/src/api/tan-query/collection/useExploreContent.ts
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/SearchResults.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix ios build by adding back prod bundle logic
  packages/mobile/ios/AudiusReactNative/AppDelegate.mm
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow
