Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

apply to batch hooks
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUsers.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

type fixes
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/web/src/pages/explore-page/components/desktop/FeaturedPlaylists.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

cast earlier to avoid ts-ignore
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUsers.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add rate limits on otp
  packages/identity-service/default-config.json
  packages/identity-service/src/app.js
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix local dep on web3
  packages/identity-service/src/audiusLibsInstance.js
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove unused
  packages/identity-service/src/app.js
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add rate limiter to otp on /authentication route (#11604)
  packages/identity-service/default-config.json
  packages/identity-service/src/app.js
  packages/identity-service/src/audiusLibsInstance.js
Due: run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add web
  packages/common/src/store/pages/audio-rewards/slice.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/integration_tests/challenges/test_play_count_milestones_challenge.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/play_count_milestone_10000_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_1000_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_250_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_challenge_base.py
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/common/store/social/tracks/recordListen.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/PlayCountMilestoneContent.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Change stage amount
  packages/discovery-provider/src/challenges/challenges.stage.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove unused arg
  packages/discovery-provider/src/challenges/play_count_milestone_challenge_base.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Audius Protocol v0.7.110
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

making cleanup more reliable
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/jobs/createStemsArchive.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/logger.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/routes/stems.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/cleanupOrphanedFiles.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/spaceManager.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Use hex in first weekly comment challenge specifier
  packages/discovery-provider/src/challenges/first_weekly_comment_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove chain recovery.
  comms/discovery/pubkeystore/backfill.go
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix index_trending
  package.json
  packages/discovery-provider/src/tasks/index_trending.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Re-try lastHost first in pubkey recovery to reduce searching.
  comms/discovery/pubkeystore/backfill.go
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Remove chain pubkey recovery. (#11605)
  comms/discovery/pubkeystore/backfill.go
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm web3_provider
  packages/discovery-provider/src/api_helpers.py
  packages/discovery-provider/src/queries/get_authed_user.py
  packages/discovery-provider/src/queries/get_health.py
  packages/discovery-provider/src/tasks/index_core.py
  packages/discovery-provider/src/tasks/index_trending.py
  packages/discovery-provider/src/utils/auth_middleware.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Update test
  packages/discovery-provider/integration_tests/challenges/test_play_count_milestones_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add events table migration, endpoint, and sdk functions
  packages/discovery-provider/ddl/migrations/0063_create_events_table.sql
  packages/discovery-provider/src/api/v1/api.py
  packages/discovery-provider/src/api/v1/events.py
  packages/discovery-provider/src/api/v1/models/events.py
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/models/events/__init__.py
  packages/discovery-provider/src/models/events/event.py
  packages/discovery-provider/src/queries/get_events.py
  packages/discovery-provider/src/queries/get_unclaimed_id.py
  packages/discovery-provider/src/queries/query_helpers.py
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/utils.py
  packages/discovery-provider/src/tasks/metadata.py
  packages/sdk/src/sdk/api/events/EventsApi.ts
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/EventsApi.ts
  packages/sdk/src/sdk/api/generated/default/apis/index.ts
  packages/sdk/src/sdk/api/generated/default/models/Event.ts
  packages/sdk/src/sdk/api/generated/default/models/EventsResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/models/Event.ts
  packages/sdk/src/sdk/api/generated/full/models/SearchTrackFull.ts
  packages/sdk/src/sdk/api/generated/full/models/TrackFull.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/sdk/src/sdk/index.ts
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/EntityManager/types.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

remaining references
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/api_helpers.py
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/conftest.py
  packages/discovery-provider/src/queries/notifications.py
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
  packages/discovery-provider/src/utils/helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-4021] Address bug bash comments for play count milestones (#11606)
  packages/common/src/store/pages/audio-rewards/slice.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/integration_tests/challenges/test_play_count_milestones_challenge.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/play_count_milestone_10000_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_1000_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_250_challenge.py
  packages/discovery-provider/src/challenges/play_count_milestone_challenge_base.py
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/common/store/social/tracks/recordListen.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/PlayCountMilestoneContent.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Finish tan-query profile reposts and add computed properties to track
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useProfileReposts.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
  packages/web/src/components/lineup/TanQueryLineup.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Use hex in first weekly comment challenge specifier (#11607)
  packages/discovery-provider/src/challenges/first_weekly_comment_challenge.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

reorg for testability
  packages/discovery-provider/plugins/pedalboard/apps/archiver/package.json
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/logger.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/services.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/utils.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Improve AAO tool UI
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/identity.ts
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

return job status with initial post
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/jobs/createStemsArchive.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/routes/stems.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

add tests
  packages/discovery-provider/integration_tests/tasks/test_index_tastemaker_notification.py
  packages/discovery-provider/src/tasks/index_tastemaker_notifications.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix indexing and tests
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/queries/get_health.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/index_core_entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add count for init
  packages/common/src/utils/challenges.ts
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Rename to index_tastemaker
  packages/discovery-provider/integration_tests/tasks/test_index_tastemaker.py
  packages/discovery-provider/src/tasks/index_tastemaker.py
  packages/discovery-provider/src/tasks/index_trending.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

adding some better guardrails
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/routes/stems.ts
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Address PR comment
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5833] Avoid spreading queryResults (#11601)
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/common/src/api/tan-query/utils/combineQueryStatuses.ts
  packages/web/src/pages/explore-page/components/desktop/FeaturedPlaylists.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add mobile web & fix issue with usernames not showign
  packages/common/src/api/tan-query/useProfileReposts.ts
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix lint
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix non audius derived exceptions
  packages/discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

stop casting to any
  packages/common/src/api/tan-query/useAiTracks.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useMutedUsers.ts
  packages/common/src/api/tan-query/useTopArtistsInGenre.ts
  packages/common/src/api/tan-query/useTrackByParams.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUserByParams.ts
  packages/common/src/api/tan-query/useUsers.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PAY-4001] Tastemaker challenge backend (#11565)
  packages/discovery-provider/integration_tests/tasks/test_index_tastemaker.py
  packages/discovery-provider/integration_tests/tasks/test_index_tastemaker_notification.py
  packages/discovery-provider/src/challenges/challenge_event.py
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/tastemaker_challenge.py
  packages/discovery-provider/src/tasks/index_tastemaker.py
  packages/discovery-provider/src/tasks/index_trending.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Process challenge events sequentially (#11602)
  packages/discovery-provider/integration_tests/challenges/test_listen_streak_endless_challenge.py
  packages/discovery-provider/integration_tests/challenges/test_referral_challenge.py
  packages/discovery-provider/integration_tests/challenges/test_trending_challenge.py
  packages/discovery-provider/src/challenges/challenge_event_bus.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
