Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

First pass claim all modal
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/CooldownRewardsModalContent.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/ClaimAllRewardsModal.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

lint
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/utils/typeUtils.ts
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-4257] Fix web-dist-win jobs (#8069)
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

increase solana RPC reselect freq (#8070)
  packages/libs/src/services/solana/transactionHandler.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

working end-to-end notification renders on client
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/queries/response_name_constants.py
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/components/notification/Notification/AddTrackToPlaylistNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/TrackAddedToPurchasedAlbumNotification.tsx
  packages/web/src/components/notification/Notification/components/NotificationHeader.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2684] Fix wrap on audio wallet actions
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert "comment out compute budget"
  packages/libs/src/services/solana/SolanaWeb3Manager.ts
  packages/libs/src/services/solana/rewards.ts
  packages/libs/src/services/solana/transfer.ts
  packages/libs/src/services/solana/userBank.ts
  packages/web/src/services/audius-backend/BuyAudio.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2682] Write new TrackAddedToPurchasedAlbum notification to table (#8065)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/ddl/functions/handle_playlist.sql
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/trackAddedToPurchasedAlbum.ts
  packages/discovery-provider/plugins/notifications/src/types/notifications.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Use coinflow relay
  packages/identity-service/src/config.js
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

lint
  packages/web/src/components/usdc-purchase-details-modal/USDCPurchaseDetailsModal.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/AlbumPurchaseModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/TrackPurchaseModalContent.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-4260] Improve icon a11y
  packages/harmony/.svgrrc.js
  packages/harmony/src/icons/UtilityIcons.stories.mdx
  packages/mobile/.svgrrc.js
  packages/web/.svgrrc.js
  svgr-template.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Revert utility icons
  packages/harmony/src/icons/UtilityIcons.stories.mdx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.78
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

tweak test
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PROTO-1754] Fix DDEX albums being editable, fields not persisting
  packages/discovery-provider/src/schemas/playlist_schema.json
  packages/discovery-provider/src/tasks/entity_manager/utils.py
  packages/discovery-provider/src/tasks/metadata.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix up
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

comment out some stuff to understand build
  solana-programs/Dockerfile
  solana-programs/audius_eth_registry/tests/tests.rs
  solana-programs/claimable-tokens/cli/src/main.rs
  solana-programs/cli/src/main.rs
  solana-programs/reward-manager/cli/src/utils.rs
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update endpoint
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add client/sdk changes for coinflow relay
  packages/common/src/hooks/useCoinflowAdapter.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/libs/src/services/identity/IdentityService.ts
  packages/libs/src/services/solana/transactionHandler.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2683] Render TrackAddedToPurchasedAlbum notification (web) (#8074)
  packages/common/src/store/notifications/selectors.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/mapNotifications.ts
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/queries/response_name_constants.py
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/TrackAddedToPurchasedAlbumNotification.tsx
  packages/web/src/components/notification/Notification/components/NotificationHeader.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Standardize ddex envs to work with audius-docker-compose better
  packages/ddex/.env.dev
  packages/ddex/.env.stage
  packages/ddex/publisher/Dockerfile
  packages/ddex/publisher/package.json
  packages/ddex/publisher/src/index.ts
  packages/ddex/publisher/src/services/sdkService.ts
  packages/ddex/webapp/Dockerfile
  packages/ddex/webapp/Dockerfile.fast
  packages/ddex/webapp/client/.env.dev
  packages/ddex/webapp/client/.env.stage.local
  packages/ddex/webapp/client/src/providers/AudiusSdkProvider.tsx
  packages/ddex/webapp/server/package.json
  packages/ddex/webapp/server/src/index.ts
  packages/ddex/webapp/server/src/services/sdkService.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Use coinflow relay (#8076)
  packages/identity-service/src/config.js
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

split out Sales modals
  packages/web/src/components/usdc-purchase-details-modal/USDCPurchaseDetailsModal.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/AlbumSaleModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/PurchaseModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/SaleModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/TrackSaleModalContent.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

harmonize
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Move to withdrawal
  packages/common/src/hooks/useCoinflowAdapter.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

separate panel
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Buffer.from
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

harmonize claim all modal
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/utils/typeUtils.ts
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

reduce border on playlist tile track list
  packages/web/src/components/track/desktop/PlaylistTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

use emojis externally for sdk
  packages/libs/src/sdk/api/users/UsersApi.test.ts
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/libs/src/sdk/api/users/types.ts
  packages/libs/src/sdk/utils/reactionsMap.ts
  packages/web/src/common/store/ui/reactions/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup
  packages/web/src/components/usdc-purchase-details-modal/components/PurchaseModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/SaleModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/TransactionSummary.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

working on better migration patterns
  packages/common/src/models/User.ts
  packages/common/src/store/effects.ts
  packages/common/src/store/ui/related-artists/sagas.ts
  packages/common/src/utils/sdkMigrationUtils.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

First pass of claim all modal (#8072)
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

more content
  docs/.vscode/spellright.dict
  docs/docs/developers/sdk/create-audius-app-react.mdx
  docs/static/img/create-audius-app/create-audius-app-terminal.svg
  docs/static/img/create-audius-app/run-app-terminal.svg
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
