Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

add normalized score and challenge to action log
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/GET
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/actionLog.ts
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Setup AAO plugin routing (#11472)
  packages/discovery-provider/nginx_conf/nginx_container.conf
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/index.ts
  packages/discovery-provider/src/api_helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Add full routes
  packages/common/src/api/tan-query/comments.ts
  packages/discovery-provider/src/api/v1/comments.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/models/comments.py
  packages/discovery-provider/src/api/v1/tracks.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/comments/replies.py
  packages/discovery-provider/src/queries/comments/track_comments.py
  packages/discovery-provider/src/queries/comments/user_comments.py
  packages/discovery-provider/src/queries/comments/utils.py
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/models/Comment.ts
  packages/sdk/src/sdk/api/generated/default/models/CommentResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/Related.ts
  packages/sdk/src/sdk/api/generated/default/models/TrackCommentsResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/UserCommentsResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Gen dev
  packages/discovery-provider/src/api/v1/comments.py
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/models/CommentResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/TrackCommentsResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/UserCommentsResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/TracksApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/models/Comment.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentMention.ts
  packages/sdk/src/sdk/api/generated/full/models/Related.ts
  packages/sdk/src/sdk/api/generated/full/models/ReplyComment.ts
  packages/sdk/src/sdk/api/generated/full/models/TrackCommentsResponseFull.ts
  packages/sdk/src/sdk/api/generated/full/models/UserCommentsResponseFull.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

checkpoint
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/recent-user-comments-modal/index.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/comments/CommentDrawer.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/mobile/src/components/comments/constants.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

fix hook usage
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

finish implementation of recent comments drawer
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/recent-user-comments-modal/index.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentText.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawerContext.tsx
  packages/mobile/src/components/core/UserDisplayName.tsx
  packages/mobile/src/components/core/UserGeneratedText.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

undo changes to display name component
  packages/mobile/src/components/core/UserDisplayName.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Web referral challenge UI updates (#11476)
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/mobile/src/components/challenge-rewards-drawer/DefaultChallengeContent.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/ChallengeRewardsTile.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/RewardPanel.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/hooks/useRewardIds.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/DefaultChallengeContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ListenStreakChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ReferralsChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/types.ts
  packages/web/src/pages/rewards-page/config.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[PAY-3972] First weekly comment challenge web UI
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/web/src/pages/rewards-page/components/ChallengeRewards/hooks/useRewardIds.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/FirstWeeklyCommentChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

lint
  packages/web/src/pages/rewards-page/config.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

scoped dispatch queue
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint
  packages/mobile/src/utils/challenges.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Finalize
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/api/tan-query/utils/primeRelatedData.ts
  packages/discovery-provider/src/api/v1/api.py
  packages/discovery-provider/src/api/v1/comments.py
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/CommentsApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/index.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentResponse.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/sdk/src/sdk/sdk.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Fix lint
  packages/sdk/src/sdk/sdk.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Finalize
  packages/discovery-provider/src/queries/comments/replies.py
  packages/discovery-provider/src/queries/comments/track_comments.py
  packages/discovery-provider/src/queries/comments/user_comments.py
  packages/discovery-provider/src/queries/comments/utils.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix casing in sdk UpdateProfile
  .changeset/famous-buses-teach.md
  packages/sdk/src/sdk/api/users/UsersApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

snakecase earlier
  packages/sdk/src/sdk/api/users/UsersApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Fix casing in sdk UpdateProfile (#11479)
  .changeset/famous-buses-teach.md
  packages/sdk/src/sdk/api/users/UsersApi.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Finalize
  packages/discovery-provider/integration_tests/queries/test_get_track_comments.py
  packages/discovery-provider/integration_tests/queries/test_get_user_comments.py
  packages/discovery-provider/src/queries/comments/replies.py
  packages/discovery-provider/src/queries/comments/track_comments.py
  packages/discovery-provider/src/queries/comments/utils.py
  packages/discovery-provider/src/queries/query_helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[PAY-3972] First weekly comment challenge web UI (#11478)
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/hooks/useRewardIds.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/FirstWeeklyCommentChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
  packages/web/src/pages/rewards-page/config.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Audius Protocol v0.7.100
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix layout, add animation
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

pass through mentions
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix font size
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix width for track page
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix width for track page (#11480)
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5797] Implement Recent comments drawer (#11477)
  packages/common/src/api/tan-query/comments.ts
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentDrawer.tsx
  packages/mobile/src/components/comments/CommentText.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawerContext.tsx
  packages/mobile/src/components/comments/constants.ts
  packages/mobile/src/components/core/UserGeneratedText.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

api fixes
  packages/common/src/api/tan-query/comments.ts
  packages/discovery-provider/integration_tests/queries/test_get_user_comments.py
  packages/discovery-provider/src/api/v1/comments.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/tracks.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/api_helpers.py
  packages/discovery-provider/src/queries/comments/user_comments.py
  packages/mobile/src/components/comments/CommentThread.tsx
  packages/web/src/components/comments/CommentThread.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Update naming and finalize
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/context/comments/commentsContext.tsx
  packages/common/src/context/comments/commentsHooks.ts
  packages/discovery-provider/integration_tests/queries/test_get_comment_count.py
  packages/discovery-provider/integration_tests/queries/test_get_track_comment_count.py
  packages/discovery-provider/integration_tests/queries/test_get_user_comments.py
  packages/discovery-provider/src/api/v1/comments.py
  packages/discovery-provider/src/api/v1/tracks.py
  packages/discovery-provider/src/api/v1/users.py
  packages/mobile/src/components/comments/CommentSortBar.tsx
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/CommentsApi.ts
  packages/sdk/src/sdk/api/generated/default/apis/TracksApi.ts
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/default/models/CommentRepliesResponse.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/CommentsApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/TracksApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentRepliesResponse.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/components/comments/CommentSortBar.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add recent users and AAO flags
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/actionLog.ts
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Final final
  .changeset/afraid-dogs-attack.md
  packages/common/src/api/tan-query/utils/primeRelatedData.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Add analytics for recent comments
  packages/common/src/models/Analytics.ts
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/web/src/pages/comment-history/components/desktop/CommentHistoryPage.tsx
  packages/web/src/pages/profile-page/components/desktop/RecentComments.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

linkify user handles
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Mobile challenge UI refactor (#11440)
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/challenge-rewards-drawer/AudioMatchingChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/AudioMatchingChallengeDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsLayout.tsx
  packages/mobile/src/components/challenge-rewards-drawer/DefaultChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ListenStreakEndlessChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ListenStreakEndlessChallengeDrawerContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ProfileCompletionChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ProfileCompletionChecks.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ReferralChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ReferralRewardContents.tsx
  packages/mobile/src/components/challenge-rewards-drawer/challengeContentRegistry.ts
  packages/mobile/src/components/challenge-rewards-drawer/index.ts
  packages/mobile/src/components/challenge-rewards-drawer/styles.ts
  packages/mobile/src/components/challenge-rewards-drawer/types.ts
  packages/mobile/src/screens/notifications-screen/Notifications/ListenStreakReminderNotification.tsx
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/store/store.ts
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/ChallengeRewardsTile.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Refactor to other files
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/api/tan-query/comments/index.ts
  packages/common/src/api/tan-query/comments/types.ts
  packages/common/src/api/tan-query/comments/useDeleteComment.ts
  packages/common/src/api/tan-query/comments/useEditComment.ts
  packages/common/src/api/tan-query/comments/useGetCommentById.ts
  packages/common/src/api/tan-query/comments/useGetCommentRepliesById.ts
  packages/common/src/api/tan-query/comments/useGetCommentsByTrackId.ts
  packages/common/src/api/tan-query/comments/useGetTrackCommentNotificationSetting.ts
  packages/common/src/api/tan-query/comments/useMuteUser.ts
  packages/common/src/api/tan-query/comments/usePinComment.ts
  packages/common/src/api/tan-query/comments/usePostComment.ts
  packages/common/src/api/tan-query/comments/useReactToComment.ts
  packages/common/src/api/tan-query/comments/useReportComment.ts
  packages/common/src/api/tan-query/comments/useTrackCommentCount.ts
  packages/common/src/api/tan-query/comments/useUpdateCommentNotificationSetting.ts
  packages/common/src/api/tan-query/comments/useUpdateTrackCommentNotificationSetting.ts
  packages/common/src/api/tan-query/comments/useUserComments.ts
  packages/common/src/api/tan-query/comments/utils.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Renames
  packages/common/src/api/tan-query/comments/index.ts
  packages/common/src/api/tan-query/comments/types.ts
  packages/common/src/api/tan-query/comments/useComment.ts
  packages/common/src/api/tan-query/comments/useCommentReplies.ts
  packages/common/src/api/tan-query/comments/useTrackComments.ts
  packages/common/src/context/comments/commentsContext.tsx
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentThread.tsx
  packages/mobile/src/components/comments/RecentUserCommentsDrawer.tsx
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentThread.tsx
  packages/web/src/pages/comment-history/components/desktop/CommentHistoryPage.tsx
  packages/web/src/pages/profile-page/components/desktop/RecentComments.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow
