Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-integration-workflow: ((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-contracts-workflow: ((((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: (((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: ((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

[PAY-3941] Claim all rewards tile respects optimistic challenges (#11352)
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/screens/rewards-screen/ClaimAllRewardsTile.tsx
  packages/web/src/pages/rewards-page/components/ChallengeRewards/ChallengeRewardsTile.tsx
  packages/web/src/pages/rewards-page/components/ClaimAllRewardsPanel.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Fix airdrop push notif copy
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/challengeReward.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Format number commas in reward notifs
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

em works
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/coreRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/sdk/src/sdk/services/EntityManager/EntityManagerClient.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

Format number commas in reward notifs (#11356)
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5767] Migrate related-artists to tan-query #2 (#11303)
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/relatedArtists.ts
  packages/common/src/store/pages/feed/reducer.ts
  packages/common/src/store/pages/feed/selectors.ts
  packages/common/src/store/pages/feed/types.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/related-artists/sagas.ts
  packages/common/src/store/ui/related-artists/selectors.ts
  packages/common/src/store/ui/related-artists/slice.ts
  packages/common/src/store/ui/related-artists/types.ts
  packages/discovery-provider/integration_tests/queries/test_get_related_artists.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_related_artists.py
  packages/mobile/src/components/suggested-follows/ArtistCategoryButton.tsx
  packages/mobile/src/components/suggested-follows/ContinueButton.tsx
  packages/mobile/src/components/suggested-follows/PickArtistsForMeButton.tsx
  packages/mobile/src/components/suggested-follows/SelectArtistCategoryButtons.tsx
  packages/mobile/src/components/suggested-follows/SuggestedArtistsList.tsx
  packages/mobile/src/components/suggested-follows/SuggestedFollows.tsx
  packages/mobile/src/screens/feed-screen/EmptyFeedSuggestedFollows.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
  packages/mobile/src/store/sagas.ts
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/web/src/common/store/pages/signon/actions.ts
  packages/web/src/common/store/pages/signon/reducer.js
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/pages/signon/selectors.ts
  packages/web/src/common/store/pages/signon/types.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/RelatedArtists.tsx
  packages/web/src/pages/sign-up-page/utils/useDetermineAllowedRoutes.ts
  packages/web/src/store/sagas.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

WIP
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/tasks/create_listen_streak_notifications.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert "filter chain health on these nodes (#11354)"
  packages/discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

use http locally
  dev-tools/environment/audiusd-1.env
  dev-tools/environment/audiusd-2.env
  dev-tools/environment/audiusd-3.env
  dev-tools/environment/audiusd-4.env
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm log
  packages/sdk/src/sdk/services/EntityManager/EntityManagerClient.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

rm comment lol
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/coreRelay.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm debug logs
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm log
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

[C-5763 C-5603] Migrate profile collections to tan-query (#11285)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/useUserAlbums.ts
  packages/common/src/api/tan-query/useUserPlaylists.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_playlists.py
  packages/discovery-provider/src/queries/query_helpers.py
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/web/src/common/store/profile/fetchProfileCollectionsSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

checkpoint
  packages/web/src/common/utils/layout.ts
  packages/web/src/components/nav-banner/NavBanner.module.css
  packages/web/src/components/nav-banner/NavBanner.tsx
  packages/web/src/components/stat-banner/StatBanner.module.css
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/deleted-page/components/desktop/DeletedPage.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileWrapping.tsx
  packages/web/src/pages/profile-page/components/desktop/constants.ts
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Tag audiusd with protocol releases to allow reverts (#11347)
  .circleci/src/commands/@docker-commands.yml
  .circleci/src/jobs/deploy-foundation-nodes.yml
Due: run-discovery-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Revert "filter chain health on these nodes" (#11358)
  packages/discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

change these back after merge
  dev-tools/compose/docker-compose.audiusd.yml
  package.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

address feedback
  packages/common/src/api/tan-query/batchers/getCollectionsBatcher.ts
  packages/common/src/api/tan-query/batchers/getTracksBatcher.ts
  packages/common/src/api/tan-query/batchers/getUsersBatcher.ts
  packages/common/src/api/tan-query/batchers/types.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUsers.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

WIP
  packages/common/src/adapters/notification.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/challenges/listen_streak_endless_challenge.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/create_listen_streak_notifications.py
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/ListenStreakNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/ListenStreakNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/ListenStreakNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/components/notification/Notification/ListenStreakNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/components/icons.module.css
  packages/web/src/components/notification/Notification/components/icons.tsx
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[C-5270 C-5269 C-5268] Comment layout improvements
  packages/common/src/messages/comments.ts
  packages/harmony/src/components/button/IconButton/IconButton.tsx
  packages/harmony/src/components/icon-text/IconText.tsx
  packages/harmony/src/components/send-icon/SendIcon.tsx
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentPreview.tsx
  packages/mobile/src/harmony-native/components/IconText/IconText.tsx
  packages/web/src/components/comments/CommentActionBar.tsx
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/components/link/UserLink.tsx
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

same queue but rate limit
  packages/discovery-provider/scripts/start.sh
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/tasks/index_payment_router.py
  packages/discovery-provider/src/tasks/index_rewards_manager.py
  packages/discovery-provider/src/tasks/index_user_bank.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

basic unit test passing
  packages/common/src/api/tan-query/batchers/__tests__/getUsersBatcher.test.ts
  packages/common/src/api/tan-query/batchers/getCollectionsBatcher.ts
  packages/common/src/api/tan-query/batchers/getTracksBatcher.ts
  packages/common/src/api/tan-query/batchers/getUsersBatcher.ts
  packages/common/src/api/tan-query/batchers/types.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUsers.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

always pull new audiusd image
  dev-tools/compose/docker-compose.audiusd.yml
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

lint
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

Fix plays indexing starvation (#11361)
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
  packages/discovery-provider/scripts/start.sh
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/tasks/index_payment_router.py
  packages/discovery-provider/src/tasks/index_rewards_manager.py
  packages/discovery-provider/src/tasks/index_user_bank.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix lint
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_playlists.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

rm this cuz git is dumb
  packages/discovery-provider/src/app.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

fix lint (#11362)
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_playlists.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

entity manager through core on dev (#11359)
  dev-tools/compose/docker-compose.audiusd.yml
  dev-tools/environment/audiusd-1.env
  dev-tools/environment/audiusd-2.env
  dev-tools/environment/audiusd-3.env
  dev-tools/environment/audiusd-4.env
  packages/discovery-provider/ddl/migrations/0119_add_em_block.sql
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/config/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/core-sdk/protocol_pb.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/coreRelay.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/redis.ts
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/txRelay.ts
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/models/core/core_indexed_blocks.py
  packages/discovery-provider/src/tasks/core/gen/protocol_pb2.py
  packages/discovery-provider/src/tasks/core/gen/protocol_pb2.pyi
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/index_core.py
  packages/discovery-provider/src/tasks/index_core_entity_manager.py
  packages/discovery-provider/src/tasks/index_core_manage_entities.py
  packages/discovery-provider/src/tasks/index_core_plays.py
  packages/sdk/src/sdk/services/EntityManager/EntityManagerClient.ts
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-release-workflow

unit test coverage for batchers
  packages/common/src/api/tan-query/batchers/__tests__/getCollectionsBatcher.test.ts
  packages/common/src/api/tan-query/batchers/__tests__/getTracksBatcher.test.ts
  packages/common/src/api/tan-query/batchers/__tests__/getUsersBatcher.test.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

unit test coverage for combineQueryResults
  packages/common/src/api/tan-query/utils/__tests__/combineQueryResults.test.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

[C-5769] Use batch fetching to normalize core entity hooks (#11355)
  package-lock.json
  packages/common/package.json
  packages/common/src/api/tan-query/batchers/__tests__/getCollectionsBatcher.test.ts
  packages/common/src/api/tan-query/batchers/__tests__/getTracksBatcher.test.ts
  packages/common/src/api/tan-query/batchers/__tests__/getUsersBatcher.test.ts
  packages/common/src/api/tan-query/batchers/getCollectionsBatcher.ts
  packages/common/src/api/tan-query/batchers/getTracksBatcher.ts
  packages/common/src/api/tan-query/batchers/getUsersBatcher.ts
  packages/common/src/api/tan-query/batchers/types.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUpdateProfile.ts
  packages/common/src/api/tan-query/useUpdateTrack.ts
  packages/common/src/api/tan-query/useUpdateUser.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/common/src/api/tan-query/utils/__tests__/combineQueryResults.test.ts
  packages/common/src/api/tan-query/utils/combineQueryResults.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeUserData.ts
  packages/common/src/models/ErrorReporting.ts
  packages/protocol-dashboard/package.json
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Hide endless challenge audio
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Gate with feature flag
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Hide endless challenge audio (#11364)
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
Due: run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-release-workflow

Audius Protocol v0.7.90
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow

health
  packages/discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-release-workflow
