Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*

Default to false
  packages/ddex/publisher/src/models/pendingReleases.ts
  packages/ddex/publisher/src/services/publisherService.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add back gh release job
  .circleci/src/jobs/@root-jobs.yml
  .circleci/src/workflows/root.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Make ddex run locally again with hot reloading (#8125)
  dev-tools/audius-compose
  dev-tools/compose/docker-compose.yml
  packages/ddex/.env.dev
  packages/ddex/package-lock.json
  packages/ddex/publisher/Dockerfile
  packages/ddex/publisher/package.json
  packages/ddex/publisher/src/models/pendingReleases.ts
  packages/ddex/webapp/Dockerfile
  packages/ddex/webapp/Dockerfile.fast
  packages/ddex/webapp/server/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Support coinflow relay on client (#8088)
  packages/common/src/services/audius-backend/solana.ts
  packages/identity-service/src/typed-routes/solana/solanaRelay.ts
  packages/libs/src/services/identity/IdentityService.ts
  packages/libs/src/services/solana/transactionHandler.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PROTO-1764] Pipe vector logs for ddex containers
  monitoring/vector/start.sh
  monitoring/vector/vector.toml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fixes close icon color on artist dashboard
  packages/web/src/pages/dashboard-page/components/TracksTableContainer.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add purchase button do album DMs on mobile
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PROTO-1764] Pipe vector logs for ddex containers (#8132)
  monitoring/vector/start.sh
  monitoring/vector/vector.toml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add hidden and premium variants
  packages/harmony/src/foundations/spacing/spacing.ts
  packages/web/src/components/collection/CollectionCard.test.tsx
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/dog-ear/DogEar.module.css
  packages/web/src/components/dog-ear/DogEar.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/components/play-bar/mobile/PlayBar.tsx
  packages/web/src/components/track/LockedStatusBadge.module.css
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/test/test-utils.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update name
  packages/ddex/entrypoint/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update README
  packages/ddex/entrypoint/README.md
  packages/ddex/entrypoint/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fixes close icon color on artist dashboard (#8133)
  packages/web/src/pages/dashboard-page/components/TracksTableContainer.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Finalize
  packages/web/src/components/collection/CollectionCard.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2681] Artist dashboard album support
  packages/common/src/store/account/selectors.ts
  packages/harmony/src/components/input/TextInput/TextInput.tsx
  packages/web/src/pages/dashboard-page/DashboardPage.tsx
  packages/web/src/pages/dashboard-page/components/ArtistContentSection.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

lint
  packages/web/src/pages/dashboard-page/DashboardPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.6.83
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2617] Buy button for tracklist in albums (#8111)
  packages/common/src/store/ui/modals/premium-content-purchase-modal/index.ts
  packages/web/src/components/table/components/TablePlayButton.module.css
  packages/web/src/components/table/components/TablePlayButton.tsx
  packages/web/src/components/tracks-table/TracksTable.module.css
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[C-4279] Don't log not found errors to sentry (#8131)
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/errors.ts
  packages/common/src/audius-query/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[INF-690] Delete sdk release job (#8130)
  .circleci/src/jobs/release-audius-sdk.yml
  .circleci/src/workflows/sdk.yml
  packages/libs/scripts/release.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Upgade native version for full app release
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Only bump web and mobile versions on release branch (#8128)
  .circleci/config.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

skip relay rate limit on dev (#8122)
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/rateLimiter.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

PAY-2563: add solana relay health check (#8120)
  dev-tools/compose/docker-compose.pedalboard.prod.yml
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/health/health.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Upgrade native version to 1.1.94 (#8137)
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix collection screen types (#8124)
  packages/common/src/models/Search.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix lint
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

setup
  dev-tools/audius-compose
  packages/discovery-provider/requirements.txt
  packages/discovery-provider/setup.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rename function
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Test code connect
  package-lock.json
  packages/harmony/package.json
  packages/harmony/src/components/button/Button/Button.stories.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

pass in directly
  packages/discovery-provider/setup.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

revert these for some reason
  dev-tools/audius-compose
  packages/discovery-provider/requirements.txt
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update lockfile
  package-lock.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add text-input config
  packages/harmony/src/components/input/TextInput/TextInput.stories.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

filterbutton popup menu positioning
  packages/web/src/pages/dashboard-page/components/ArtistContentSection.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Create source of truth for which packages belong to which release
  .circleci/config.yml
  .circleci/src/jobs/commit-audius-docker-compose-and-notify.yml
  scripts/set-release-directories.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix lint (#8138)
  packages/discovery-provider/setup.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false
