Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Collection sagas to TS (#7387)
  packages/common/src/models/Collection.ts
  packages/common/src/models/Repost.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/types.ts
  packages/common/src/store/ui/toast/types.ts
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/confirmOrderPlaylist.ts
  packages/web/src/common/store/cache/collections/fixInvalidTracksInPlaylist.ts
  packages/web/src/common/store/cache/sagas.ts
  packages/web/src/common/store/cache/users/sagas.d.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update convert-exports.js to support types
  packages/convert-exports.js
  packages/get-type-exports.js
  packages/web/src/components/feature-flag-override-modal/FeatureFlagOverrideModal.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PayExtraFormSection.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFooter.tsx
  packages/web/src/hooks/useImageSize.test.tsx
  packages/web/src/hooks/useTikTokAuth.ts
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/services/remote-config/featureFlagHelpers.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-2403] Fix purchase drawer height on small iphones (#7375)
  packages/web/src/components/drawer/Drawer.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rename files
  packages/web/src/common/store/lineup/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update mobile type imports
  packages/mobile/src/components/premium-track-purchase-drawer/PayExtraFormSection.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/hooks/useTikTokAuth.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/feature-flag-override-screen/FeatureFlagOverrideScreen.tsx
  packages/mobile/src/services/remote-config/getFeatureEnabled.ts
  packages/mobile/src/store/oauth/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix yield* and action types
  packages/web/src/common/store/lineup/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Mobile + fix typecheck + add splits error
  packages/libs/src/services/solana/SolanaWeb3Manager.ts
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Resolve ~ alias in vite
  packages/web/vite.config.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Make TokenNoTier just use a png instead of svg
  packages/harmony/src/assets/icons/TokenNoTier.png
  packages/harmony/src/assets/icons/TokenNoTier.svg
  packages/mobile/src/components/core/IconAudioBadge.tsx
  packages/mobile/src/harmony-native/components/IconTokenNoTier.tsx
  packages/mobile/src/harmony-native/icons.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert track page store js files to ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/pages/track/actions.ts
  packages/common/src/store/pages/track/lineup/reducer.ts
  packages/common/src/store/pages/track/reducer.ts
  packages/common/src/store/pages/track/types.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenMainContent.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add missing orig file cid and file name migration
  packages/discovery-provider/ddl/migrations/0050_update_non_existing_orig_filenames.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix icons being passed to <Image source={
  packages/mobile/src/harmony-native/icons.ts
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert track page store js files to ts (#7390)
  packages/common/src/store/pages/index.ts
  packages/common/src/store/pages/track/actions.ts
  packages/common/src/store/pages/track/lineup/reducer.ts
  packages/common/src/store/pages/track/reducer.ts
  packages/common/src/store/pages/track/types.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenMainContent.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert profile page store js files to ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/lineups/tracks/reducer.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix types in web
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useInterval.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix icon needing white fill
  packages/mobile/src/components/challenge-rewards-drawer/ReferralLinkCopyButton.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix some mobile typescript issues
  packages/common/src/services/opensea-client/ethCollectibleHelpers.ts
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/tsconfig.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix rest of mobile types
  packages/common/src/audius-query/createApi.ts
  packages/common/src/hooks/useProxySelector.ts
  packages/common/src/services/opensea-client/ethCollectibleHelpers.ts
  packages/common/src/store/buy-crypto/sagas.ts
  packages/mobile/types/react-redux.d.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert api exports in web
  packages/common/package.json
  packages/common/src/hooks/index.ts
  packages/common/src/index.ts
  packages/convert-exports.js
  packages/get-type-exports.js
  packages/web/src/app/AppContextProvider.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/related-artists/RelatedArtists.tsx
  packages/web/src/components/suggested-tracks/SuggestedCollectionTracks.tsx
  packages/web/src/components/suggested-tracks/components/SuggestedTracks.tsx
  packages/web/src/components/track/DynamicTrackArtwork.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/PurchaseModalContent.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/TrackLink.tsx
  packages/web/src/components/user-name-and-badges/UserNameAndBadges.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/pay-and-earn-page/components/PurchasesTab.tsx
  packages/web/src/pages/pay-and-earn-page/components/SalesTab.tsx
  packages/web/src/pages/pay-and-earn-page/components/TrackNameWithArtwork.tsx
  packages/web/src/pages/pay-and-earn-page/components/WithdrawalsTab.tsx
  packages/web/src/pages/saved-page/hooks/useCollectionsData.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeleteAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/types.ts
  packages/web/src/pages/sign-up-page/components/SignUpWithMetaMaskButton.tsx
  packages/web/src/pages/sign-up-page/pages/SelectArtistsPage.tsx
  packages/web/src/pages/sign-up-page/utils/selectArtistsPreviewContext.tsx
  packages/web/src/pages/upload-page/fields/RemixSettingsField/RemixSettingsField.tsx
  packages/web/src/pages/upload-page/fields/RemixSettingsField/RemixSettingsMenuFields.tsx
  packages/web/src/pages/upload-page/fields/RemixSettingsField/TrackInfo.tsx
  packages/web/src/public-site/pages/landing-page/components/FeaturedContent.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert profile page store js files to ts (#7386)
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/lineups/tracks/reducer.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update indexers for cleaner withdrawal flow
  packages/discovery-provider/integration_tests/tasks/payment_router_mock_transactions.py
  packages/discovery-provider/integration_tests/tasks/test_index_payment_router.py
  packages/discovery-provider/integration_tests/tasks/test_index_user_bank.py
  packages/discovery-provider/integration_tests/tasks/user_bank_mock_transactions.py
  packages/discovery-provider/src/models/users/usdc_transactions_history.py
  packages/discovery-provider/src/tasks/index_payment_router.py
  packages/discovery-provider/src/tasks/index_user_bank.py
  packages/discovery-provider/src/utils/helpers.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add api to mobile
  packages/mobile/babel.config.js
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/drawers/ReleaseNowConfirmationDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/suggested-tracks/SuggestedCollectionTracks.tsx
  packages/mobile/src/components/suggested-tracks/components/SuggestedTracks.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/mobile/src/screens/reset-password-screen/ResetPasswordScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/TopArtistsCardList.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/selectArtistPreviewContext.tsx
  packages/mobile/tsconfig.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Drop utils from index
  packages/common/src/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix CollectionVariant
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Track sagas to typescript (#7391)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/cache/sagas.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/tracks/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  protocol-dashboard/src/components/ServiceTable/ServiceTable.tsx
  protocol-dashboard/src/containers/Node/Node.tsx
  protocol-dashboard/src/store/cache/analytics/hooks.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert schemas in web
  packages/common/src/index.ts
  packages/convert-exports.js
  packages/get-type-exports.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/components/data-entry/FormTile.jsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/sign-on/EnterPassword.tsx
  packages/web/src/components/track/EditTrackModal.jsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/sign-in-page/ConfirmEmailPage.tsx
  packages/web/src/pages/sign-in-page/SignInPage.tsx
  packages/web/src/pages/sign-up-page/components/EmailField.tsx
  packages/web/src/pages/sign-up-page/components/HandleField.tsx
  packages/web/src/pages/sign-up-page/components/PasswordCompletionChecklist.tsx
  packages/web/src/pages/sign-up-page/hooks/socialMediaLogin.ts
  packages/web/src/pages/sign-up-page/pages/CreateEmailPage.tsx
  packages/web/src/pages/sign-up-page/pages/CreateLoginDetails.tsx
  packages/web/src/pages/sign-up-page/pages/CreatePasswordPage.tsx
  packages/web/src/pages/sign-up-page/pages/FinishProfilePage.tsx
  packages/web/src/pages/sign-up-page/pages/PickHandlePage.tsx
  packages/web/src/pages/sign-up-page/pages/ReviewHandlePage.tsx
  packages/web/src/pages/sign-up-page/pages/SelectArtistsPage.tsx
  packages/web/src/pages/sign-up-page/pages/SelectGenresPage.tsx
  packages/web/src/pages/sign-up-page/utils/loginDetailsSchema.ts
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
  packages/web/src/pages/upload-page/store/utils/processFiles.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix "Convert schemas in web"
  packages/common/package.json
  packages/convert-exports.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/components/data-entry/FormTile.jsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/sign-on/EnterPassword.tsx
  packages/web/src/components/track/EditTrackModal.jsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/sign-in-page/ConfirmEmailPage.tsx
  packages/web/src/pages/sign-in-page/SignInPage.tsx
  packages/web/src/pages/sign-up-page/components/EmailField.tsx
  packages/web/src/pages/sign-up-page/components/HandleField.tsx
  packages/web/src/pages/sign-up-page/components/PasswordCompletionChecklist.tsx
  packages/web/src/pages/sign-up-page/hooks/socialMediaLogin.ts
  packages/web/src/pages/sign-up-page/pages/CreateEmailPage.tsx
  packages/web/src/pages/sign-up-page/pages/CreateLoginDetails.tsx
  packages/web/src/pages/sign-up-page/pages/CreatePasswordPage.tsx
  packages/web/src/pages/sign-up-page/pages/FinishProfilePage.tsx
  packages/web/src/pages/sign-up-page/pages/PickHandlePage.tsx
  packages/web/src/pages/sign-up-page/pages/ReviewHandlePage.tsx
  packages/web/src/pages/sign-up-page/pages/SelectArtistsPage.tsx
  packages/web/src/pages/sign-up-page/pages/SelectGenresPage.tsx
  packages/web/src/pages/sign-up-page/utils/loginDetailsSchema.ts
  packages/web/src/pages/upload-page/pages/SelectPage.tsx
  packages/web/src/pages/upload-page/store/utils/processFiles.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Convert mobile schemas
  packages/mobile/e2e/signUp.test.ts
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/sign-on-screen/components/EmailInUseHint.tsx
  packages/mobile/src/screens/sign-on-screen/components/NewEmailField.tsx
  packages/mobile/src/screens/sign-on-screen/components/PasswordCompletionChecklist.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowInstagramAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowTikTokAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowTwitterAuth.tsx
  packages/mobile/src/screens/sign-on-screen/screens/ConfirmEmailScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/CreateEmailScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/CreateLoginDetailsScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/CreatePasswordScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/FinishProfileScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/PickHandleScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/ReviewHandleScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectGenresScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SignInScreen.tsx
  packages/mobile/src/screens/upload-screen/utils/processTrackFile.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Add maxsockets flag as workaround for constant npm ECONNRESET failures
  packages/commands/Dockerfile.prod
  packages/discovery-provider/plugins/pedalboard/docker/Dockerfile.prod
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Put FastImage into Avatar
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/CoverPhoto.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/components/user/ProfilePicture.tsx
  packages/mobile/src/harmony-native/components/Avatar/Avatar.tsx
  packages/mobile/src/harmony-native/components/FastImage/FastImage.tsx
  packages/mobile/src/harmony-native/components/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Replace profilepicture component on profileheader page
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfilePicture.tsx
  packages/mobile/src/utils/zIndex.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-harmony-workflow, run-release-workflow=false, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: protocol-dashboard/.*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
